{{ define "css" }}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/blog.scss") | safeCSS) -}}
{{ end }}

{{ define "mainwrapper" }}
    {{ if or .Title .Content }}

    <div class="hero hero-gradient night">
        <div class="contentblock">
            <div class="hero-text">
                <h1>{{ if .Params.hero_title }}{{ .Params.hero_title }}{{ else }}{{ .Title }}{{ end }}</h1>
                {{ if .Params.hero_description }}<p>{{ .Params.hero_description }}</p>{{ end }}
            </div>
        </div>
    </div>

    <div class="contentblock text">

        {{ .Content }}

    </div>

    <div class="contentblock documentation">

        {{- $pages := .Pages -}}

        <div class="grid grid--2">
            {{- range $pages -}}
            <a class="link__wrapper grid__item post post--preview" href="{{ .RelPermalink }}">
                <h3>{{ .Title }}</h3>
                <p>{{ .Description }}</p>
            </a>
            {{- end -}}
        </div>
    </div>

    {{ end }}
{{ end }}
