{{ define "css" -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/content-page.scss") | safeCSS) -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/labs.scss") | safeCSS) -}}
  {{- if in .Content "<pre class=\"chroma\">" -}}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/code.scss") | safeCSS) -}}
  {{ end }}
{{- end }}

{{ define "mainwrapper" }}
  {{ partial "hero.html" (dict "page" .) }}

  <div class="labs-hub">
    {{ if and .Content (and .Parent (ne .Parent.RelPermalink "/")) }}
      <div class="labs-hub__intro content-page-shell">
        <a class="labs-page__back" href="{{ .Parent.RelPermalink }}">
          <span aria-hidden="true">&larr;</span>
          Back to {{ .Parent.Title }}
        </a>
        {{ .Content }}
      </div>
    {{ else if .Content }}
      <div class="labs-hub__intro content-page-shell">
        {{ .Content }}
      </div>
    {{ else if and .Parent (ne .Parent.RelPermalink "/") }}
      <div class="labs-hub__intro content-page-shell">
        <a class="labs-page__back" href="{{ .Parent.RelPermalink }}">
          <span aria-hidden="true">&larr;</span>
          Back to {{ .Parent.Title }}
        </a>
      </div>
    {{ end }}

    {{ $pages := .RegularPages.ByWeight }}
    {{ if gt (len $pages) 0 }}
      <section class="el-panel labs-panel" aria-labelledby="labs-docs-list-heading">
        <h2 class="sr-only" id="labs-docs-list-heading">Documentation pages</h2>
        <div class="labs-doc-grid">
          {{ range $pages }}
            {{ partial "labs/doc-card.html" . }}
          {{ end }}
        </div>
      </section>
    {{ end }}

    {{ partial "sharing.html" . }}
  </div>
{{ end }}
