{{ define "css" }}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/blog.scss") | safeCSS) -}}
{{ end }}

{{ define "mainwrapper" }}
    {{ if or .Title .Content }}

        {{ .Content }}

    {{ end }}

    {{- $array := split "Labs" "," -}}
    {{- $pages := where (where $.Page.Site.RegularPages "Section" "labs") "Params.tags" "intersect" $array -}}
    {{- $paginator := .Paginate $pages 15 }}

    <div class="contentblock branded">
        <h2>Latest articles</h2>
        <div class="grid grid--3">
            {{- range $paginator.Pages -}}
            {{- if isset .Params "date" }}
                <div class="grid__item">
                    {{- $excerpt := "" -}}
                    {{- if isset .Params "excerpt" }}
                        {{- $excerpt = .Params.excerpt -}}
                    {{- end -}}
                    {{- if isset .Params "images" -}}
                        {{- partial "postpreview" (dict "Link" .RelPermalink "Title" .Title "Image" (index .Params.images 0) "Content" .Content "Excerpt" $excerpt "PublishDate" .PublishDate) -}}
                    {{- else -}}
                        {{- partial "postpreview" (dict "Link" .RelPermalink "Title" .Title "Content" .Content "Excerpt" $excerpt) -}}
                    {{- end -}}
            {{- end -}}
                </div>
            {{- end -}}
        </div>
        {{- if gt $paginator.TotalPages 1 -}}
        <div class="paginator">
            {{- if $paginator.HasPrev -}}
                <a href="{{ $paginator.Prev.URL }}" rel="prev">&laquo;</a>
            {{- end -}}
            {{- range $paginator.Pagers -}}
                <a href="{{ .URL }}"{{ if eq . $paginator}}class="active"{{end}}>{{ .PageNumber }}</a>
            {{- end -}}
            {{- if $paginator.HasNext -}}
                <a href="{{ $paginator.Next.URL }}" rel="next">&raquo;</a>
            {{- end -}}
        </div>
        {{- end -}}
    </div>
{{ end }}