{{ define "css" -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/content-page.scss") | safeCSS) -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/events-learning.scss") | safeCSS) -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/blog.scss") | safeCSS) -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/labs.scss") | safeCSS) -}}
{{- end }}

{{ define "mainwrapper" }}
  {{ partial "hero.html" (dict "page" .) }}

  <div class="labs-hub">
    {{ with .Content }}
      <div class="labs-hub__intro content-page-shell">
        {{ . }}
      </div>
    {{ end }}

    {{ $paginator := .Paginate .Pages 15 }}
    {{ partial "labs/articles-panel.html" (dict "paginator" $paginator "title" "Lab articles") }}

    {{ partial "sharing.html" . }}
  </div>
{{ end }}
