{{ define "css" -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/content-page.scss") | safeCSS) -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/events-learning.scss") | safeCSS) -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/labs.scss") | safeCSS) -}}
  {{- if in .Content "<pre class=\"chroma\">" -}}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/code.scss") | safeCSS) -}}
  {{ end }}
{{- end }}

{{ define "mainwrapper" }}
  {{ partial "hero.html" (dict "page" .) }}

  <div class="labs-hub">
    <div class="labs-hub__intro content-page-shell">
      <a class="labs-page__back" href="{{ (site.GetPage "/labs").RelPermalink }}">
        <span aria-hidden="true">&larr;</span>
        Back to Percona Labs
      </a>
      {{ .Content }}
    </div>

    {{ with .GetPage "docs" }}
      {{ $docs := .RegularPages.ByWeight }}
      {{ if gt (len $docs) 0 }}
        <section class="el-panel labs-panel" aria-labelledby="labs-docs-heading">
          <header class="el-panel__header">
            <h2 class="el-panel__title" id="labs-docs-heading">Documentation</h2>
          </header>
          <div class="labs-doc-grid">
            {{ range $docs }}
              {{ partial "labs/doc-card.html" . }}
            {{ end }}
          </div>
          <p class="el-panel__more">
            <a class="el-panel__more-link" href="{{ .RelPermalink }}">Browse all documentation &rarr;</a>
          </p>
        </section>
      {{ end }}
    {{ end }}

    {{ if isset .Params "tags" }}
      {{ $articles := where (where (where site.RegularPages "File.Dir" "labs/posts/") "Params.tags" "intersect" .Params.tags) "Permalink" "ne" .Permalink }}
      {{ if gt (len $articles) 0 }}
        <section class="el-panel labs-panel" aria-labelledby="labs-related-heading">
          <header class="el-panel__header">
            <h2 class="el-panel__title" id="labs-related-heading">Related articles</h2>
          </header>
          <div class="labs-articles-grid">
            {{ range first 3 $articles.ByDate.Reverse }}
              {{ partial "hub-single/blog-card.html" . }}
            {{ end }}
          </div>
          <p class="el-panel__more">
            <a class="el-panel__more-link" href="{{ (site.GetPage "/labs/posts").RelPermalink }}">Browse all lab articles &rarr;</a>
          </p>
        </section>
      {{ end }}
    {{ end }}

    {{ partial "sharing.html" . }}
  </div>
{{ end }}
