{{ define "css" -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/single.scss") | safeCSS) -}}
  {{- if in .Content "<pre class=\"chroma\">" -}}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/code.scss") | safeCSS) -}}
  {{ end }}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/bio.scss") | safeCSS) -}}
{{- end }}


{{ define "main" }}
  <article class="text">

    <h1>{{ .Title }}</h1>

    <div class="body">
      {{ partial "content.html" . }}
    </div>
  </article>

  {{ partial "sharing.html" . }} 
{{ end }}
