{{ define "css" -}}
  {{ if eq .Data.Term "author" }}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/knowledge-base.scss") | safeCSS) -}}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/blog.scss") | safeCSS) -}}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/events-learning.scss") | safeCSS) -}}
  {{ else }}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/home.scss") | safeCSS) -}}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/events-learning.scss") | safeCSS) -}}
  {{ end }}
{{- end }}

{{ define "head" }}
  {{ if ne .Data.Term "author" }}
<link rel="stylesheet" href="/css/lb-widget.css?v={{ now.Unix }}">
  {{ end }}
{{ end }}

{{ define "mainwrapper" }}
{{ if not .Data.Term }}
  <script>window.location.replace({{ (site.GetPage "/contributors").RelPermalink | jsonify }});</script>
  <p class="el-panel__empty">Redirecting to <a href="{{ (site.GetPage "/contributors").RelPermalink }}">Contributors Hub</a>…</p>
{{ else }}
{{ $pages := .Pages }}
{{ if eq .Data.Term "author" }}
  {{ $pages = sort $pages ".Params.posts_count" "desc" }}
{{ else if eq .Data.Term "speaker" }}
  {{ $pages = sort $pages ".Params.talks_count" "desc" }}
{{ else }}
  {{ $pages = sort $pages "Title" "asc" }}
{{ end }}
{{ $paginator := .Paginate $pages 12 }}

{{ if eq .Data.Term "author" }}
  {{ $shellVariant := "compact" }}
  {{ $titleOverride := "Authors" }}
  {{ if eq $paginator.PageNumber 1 }}
    {{ $shellVariant = "hub" }}
    {{ $titleOverride = "Authors" }}
  {{ else }}
    {{ $titleOverride = printf "Authors — Page %d" $paginator.PageNumber }}
  {{ end }}

  {{ partial "authors-hub/shell.html" (dict
    "page" .
    "paginator" $paginator
    "searchPages" $pages
    "variant" "filtered"
    "shellVariant" $shellVariant
    "titleOverride" $titleOverride
  ) }}
{{ else }}
{{ $activeNav := "" }}
{{ if eq .Data.Term "speaker" }}
  {{ $activeNav = "speakers" }}
{{ end }}

{{ partial "contributors-hub/shell.html" (dict
  "page" .
  "paginator" $paginator
  "searchPages" $pages
  "variant" "filtered"
  "activeNav" $activeNav
) }}
{{ end }}
{{ end }}
{{ end }}
