{{ define "css" -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/knowledge-base.scss") | safeCSS) -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/events-learning.scss") | safeCSS) -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/blog.scss") | safeCSS) -}}
{{- end }}

{{ define "mainwrapper" }}
{{ $pages := .Pages }}
{{ $paginator := .Paginate $pages 15 }}
{{ $title := printf "#%s articles" .Title }}
{{ if gt $paginator.PageNumber 1 }}
  {{ $title = printf "#%s articles — Page %d" .Title $paginator.PageNumber }}
{{ end }}

{{ partial "blog/shell.html" (dict
  "page" .
  "paginator" $paginator
  "searchPages" $pages
  "variant" "compact"
  "titleOverride" $title
) }}
{{ end }}
