{{ define "css" }}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/blog.scss") | safeCSS) -}}
{{ end }}

{{ define "mainwrapper" }}

    {{- $pages := .Pages -}}
    {{- $paginator := .Paginate $pages 9 }}

    <div class="hero hero-gradient aqua "><div class="contentblock">
        <div class="hero-text">
            {{- if eq $paginator.PageNumber 1 -}}
                <h1>#{{ .Title }} articles</h1>
            {{- else -}}
                <h1>#{{ .Title }} articles: Page {{ $paginator.PageNumber }}</h1>
            {{- end -}}
        </div>
    </div></div>     

    <div class="contentblock branded">
    {{ .Content }}

    {{ if .Pages }}

        <div class="blog-list">
            <div class="main-content">
                <ul class="post-list">
                    {{- range $paginator.Pages -}}
                        <li class="post-item">
                            {{- partial "postpreview-list" . -}}                         
                        </li>
                    {{- end -}}
                </ul>
            </div>
        </div>

        {{- if gt $paginator.TotalPages 1 -}}
        <div class="paginator">
            {{- if $paginator.HasPrev -}}
                <a href="{{ $paginator.Prev.URL }}" rel="prev">&laquo;</a>
            {{- end -}}
            {{- range $paginator.Pagers -}}
                <a href="{{ .URL }}"{{ if eq . $paginator}}class="active"{{end}}>{{ .PageNumber }}</a>
            {{- end -}}
            {{- if $paginator.HasNext -}}
                <a href="{{ $paginator.Next.URL }}" rel="next">&raquo;</a>
            {{- end -}}
        </div>
        {{- end -}}

    {{ else }}
        <p>No content available.</p>
    {{ end }}
    </div>
{{ end }}
