{{/*
  Auto-list talks related to this event page.
  Match: talk.event_jira == event.jira, else talk.event == event.Title
  (if talk has a non-matching event_jira, do not fall back to title).
  Compact list: title + speakers. Renders nothing if empty.
*/}}
{{ $event := . }}
{{ $jira := printf "%s" ($event.Params.jira | default "") }}
{{ $title := $event.Title }}
{{ $matched := slice }}

{{ range where site.RegularPages "Section" "talks" }}
  {{ $talkJira := printf "%s" (.Params.event_jira | default "") }}
  {{ $talkEvent := .Params.event | default "" }}
  {{ $ok := false }}
  {{ if and $jira $talkJira }}
    {{ if eq $talkJira $jira }}{{ $ok = true }}{{ end }}
  {{ else if and $title $talkEvent (eq $talkEvent $title) }}
    {{ $ok = true }}
  {{ end }}
  {{ if $ok }}
    {{ $matched = $matched | append . }}
  {{ end }}
{{ end }}

{{ if gt (len $matched) 0 }}
  {{ $sorted := sort $matched "Params.presentation_date" "asc" }}
  <section class="hub-single-panel hub-single-panel--event-talks" aria-labelledby="event-talks-heading">
    <h2 class="hub-single-panel__title" id="event-talks-heading">
      {{ if eq (len $sorted) 1 }}Talk{{ else }}Talks{{ end }}
    </h2>
    <ul class="event-related-talks">
      {{ range $sorted }}
        <li class="event-related-talks__item">
          <a class="event-related-talks__title" href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ with .Params.speakers }}
            {{ $speakerPages := slice }}
            {{ range . }}
              {{ with site.GetPage (printf "/contributors/%s" .) }}
                {{ $speakerPages = $speakerPages | append . }}
              {{ end }}
            {{ end }}
            {{ if gt (len $speakerPages) 0 }}
              <span class="event-related-talks__speakers">
                <span class="event-related-talks__by">by </span>
                {{ range $i, $sp := $speakerPages }}
                  {{- if $i -}}
                    {{- if eq (add $i 1) (len $speakerPages) }} and {{ else }}, {{ end -}}
                  {{- end -}}
                  <a href="{{ $sp.RelPermalink }}">{{ $sp.Params.fullname | default $sp.Title }}</a>
                {{- end }}
              </span>
            {{ end }}
          {{ end }}
        </li>
      {{ end }}
    </ul>
  </section>
{{ end }}
