{{ define "css" }}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/sections.scss") | safeCSS) -}}
{{ end }}

{{ define "main" }}
    {{ if or .Title .Content }}

        <div class="text">

            <h1>{{ .Title }}</h1>

            <div class="body">

                {{ .Content }}

            {{ range where .Pages "Params.block" "mongodb-learn" }}

                <h2>{{ .Title }}</h2>

                {{- .Content -}}


                {{ range where .Site.Pages.ByWeight "Params.lessons" "mongodb-lessons" }}

                    <h3>{{ .Title }}</h3>

                    {{- .Content -}}

                    <div class="lessons-links">

                        <h4>Blog posts</h4>

                        <div class="grid-links grid-links--4 ">
                        {{- range (where (where .Site.Pages.ByWeight "Params.block" .Params.blockKey) "Params.type" "blog") -}}    
                            <div class="grid__item">
                                <a href="{{ .Params.link }}" target="_blank">{{ .Title }}</a><br/>by {{ .Params.author }} ({{ .Params.company}})
                            </div>
                        {{- end -}}
                        </div>

                        {{ if not .Params.hideVideo }}
                            <h4>Video</h4>

                            <div class="grid-links grid-links--4">
                            {{- range (where (where .Site.Pages.ByWeight "Params.block" .Params.blockKey) "Params.type" "video") -}}    
                                <div class="grid__item">
                                    <a href="{{ .Params.link }}" target="_blank">{{ .Title }}</a><br/>by {{ .Params.author }} ({{ .Params.company}})
                                </div>
                            {{- end -}}
                            </div>
                        {{ end }}
                    </div>
                {{ end }}

            {{ end }}

            {{ range where .Pages "Params.block" "percona-mongodb-products" }}

                <h2>{{ .Title }}</h2>

                {{- .Content -}}

            {{ end }}
            </div>
        </div>

        <h2>Community Blog Posts</h2>
        <div class="grid grid--3">
            {{ $t := slice "MongoDB" "mongodb" }}

            {{- range first 3 (where (where $.Page.Site.RegularPages "Section" "blog") "Params.tags" "intersect" $t ) -}}
                <div class="grid__item">
                {{ partial "postpreview" (dict "Link" .RelPermalink "Title" .Title "Image" (index .Params.images 0) "Content" .Content) }}
                </div>
            {{- end -}}
        </div>

    {{ end }}
{{ end }}
