// This file should be included on every page that displays code segments.

@import "common/variables";

.text {
  .chroma {
    font-size: 0.7rem;
    border-radius: $border-radius;
    line-height: 1rem;

    .lntd {
      vertical-align: top;
      padding: 0;
      margin: 0;
      border: 0;
    }

    .lntable {
      border-spacing: 0;
      padding: 0;
      margin: 0;
      border: 0;
      width: auto;
      overflow: auto;
      display: block;
    }

    .hl {
      display: block;
      width: 100%;
    }

    .lnt {
      margin-right: 0.4em;
      padding: 0 0.4em;
    }
  }

  .chroma {
    color: #ffffff;
    @media screen {
      background-color: #3b3d45;
    }
    .err {
      color: #df442a;
    }
    .lntd {
    }
    .lntable {
    }
    .hl {
      background-color: #3b3b31;
    }
    .lnt {
      margin-right: 0.4em;
      padding: 0 0.4em 0 0.4em;
      color: #cac7c7;
    }
    .ln {
      color: #cac7c7;
    }
    .k {
      color: #00a8c8;
    }
    .kc {
      color: #00a8c8;
    }
    .kd {
      color: #00a8c8;
    }
    .kn {
      color: #f92672;
    }
    .kp {
      color: #00a8c8;
    }
    .kr {
      color: #00a8c8;
    }
    .kt {
      color: #00a8c8;
    }
    .n {
      color: #dfe7f7;
    }
    .na {
      color: #e1d7ad;
    }
    .nb {
      color: #e1d7ad;
    }
    .bp {
      color: #b6c7e9;
    }
    .nc {
      color: #75af00;
    }
    .no {
      color: #00a8c8;
    }
    .nd {
      color: #75af00;
    }
    .ni {
      color: #b6c7e9;
    }
    .ne {
      color: #75af00;
    }
    .nf {
      color: #75af00;
    }
    .fm {
      color: #b6c7e9;
    }
    .nl {
      color: #b6c7e9;
    }
    .nn {
      color: #b6c7e9;
    }
    .nx {
      color: #75af00;
    }
    .py {
      color: #b6c7e9;
    }
    .nt {
      color: #f92672;
    }
    .nv {
      color: #b6c7e9;
    }
    .vc {
      color: #b6c7e9;
    }
    .vg {
      color: #b6c7e9;
    }
    .vi {
      color: #b6c7e9;
    }
    .vm {
      color: #b6c7e9;
    }
    .l {
      color: #ae81ff;
    }
    .ld {
      color: #d88200;
    }
    .s {
      color: #d88200;
    }
    .sa {
      color: #d88200;
    }
    .sb {
      color: #d88200;
    }
    .sc {
      color: #d88200;
    }
    .dl {
      color: #d88200
    }
    .sd {
      color: #d88200;
    }
    .s2 {
      color: #d88200;
    }
    .se {
      color: #8045ff;
    }
    .sh {
      color: #d88200;
    }
    .si {
      color: #d88200;
    }
    .sx {
      color: #d88200;
    }
    .sr {
      color: #d88200;
    }
    .s1 {
      color: #d88200;
    }
    .ss {
      color: #d88200;
    }
    .m {
      color: #ae81ff;
    }
    .mb {
      color: #ae81ff;
    }
    .mf {
      color: #ae81ff;
    }
    .mh {
      color: #ae81ff;
    }
    .mi {
      color: #ae81ff;
    }
    .il {
      color: #ae81ff;
    }
    .mo {
      color: #ae81ff;
    }
    .o {
      color: #f92672;
    }
    .ow {
      color: #f92672;
    }
    .p {
      color: #ae81ff;
    }
    .c {
      color: #b1ac92;
    }
    .ch {
      color: #b1ac92;
    }
    .cm {
      color: #b1ac92;
    }
    .c1 {
      color: #b1ac92;
    }
    .cs {
      color: #b1ac92;
    }
    .cp {
      color: #b1ac92;
    }
    .cpf {
      color: #b1ac92;
    }
    .g {
    }
    .gd {
    }
    .ge {
      font-style: italic;
    }
    .gr {
    }
    .gh {
    }
    .gi {
    }
    .go {
    }
    .gp {
    }
    .gs {
      font-weight: bold;
    }
    .gu {
    }
    .gt {
    }
    .gl {
    }
    .w {
    }
  }
}