@import "common/common";

.grid-links {
  display: grid;
  &--2 {
    grid-template-columns: 1fr 1fr;
  }
  &--3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &--4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  gap: 1.5rem 1.5rem;

  font-size:0.9rem;
  margin-bottom:1.5rem;
  margin-top:1.5rem;

  img {
    max-width:100%;
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom:0.75rem;
  }

  p {
    margin-bottom:0.75rem;
  }

  ul {
    margin-left: 1rem;
    li {list-style-type: disc;}
  }
}

@media (max-width: 768px) {
  .grid-links--2 {
    display: block;
  }
}

@media (max-width: 1000px) {
  .grid-links--3 {
    display: block;
  }
}

@media (max-width: 1000px) {
  .grid-links--4 {
    display: block;
  }
}


table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin-top: 2rem;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: left;
}

table th {
  font-size: 1em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: left;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}