{{ define "css" -}}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/blog.scss") | safeCSS) -}}
    {{- if in .Content "<pre class=\"chroma\">" -}}
        {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/code.scss") | safeCSS) -}}
    {{ end }}
{{- end }}

{{ define "mainwrapper" }}

{{- $pages := .Pages -}}
{{- $paginator := .Paginate $pages 15 }}

<div class="hero hero-gradient aqua "><div class="contentblock">

<div class="hero-text">
    <h1>Welcome to the Percona Community blog!</h1>

    <p>If you're interested in contributing, you can submit a pull request on <a href="https://github.com/percona/community">GitHub</a> with either your own topic or pick one of our <a href="/contribute/opentopics">open topics</a>.</p>
</div>

{{- if eq $paginator.PageNumber 1 -}}
<div class="featured__wrapper">
    <div class="grid grid--2">

        <div class="featured__left featured__one branded">

            {{- $one := first 1 (where $.Page.Site.RegularPages "Section" "blog") -}}

            {{- range $one -}}

                {{- partial "postpreview" (dict "Link" .RelPermalink "Title" .Title "Image" (index .Params.images 0) "Content" .Content "PublishDate" .PublishDate) -}}  
 
            {{- end -}}

        </div>

        <div class="featured__right featured__list">

            <h2 class="title-wrap">FEATURED POSTS</h2>

            {{- $array := slice "Featured" "featured" "top" -}}
            {{- $featured := first 3 (where (where $.Page.Site.RegularPages "Section" "blog") "Params.tags" "intersect" $array) -}}

            {{- range $featured -}}

                {{- partial "featured-blog-post-grid-line" (dict "Link" .RelPermalink "Title" .Title "Image" (index .Params.images 0) "PublishDate" .PublishDate) -}}    

            {{- end -}}

        </div>
    </div>
</div>
{{- end -}}
</div></div>

    {{- .Content -}}
    <div class="contentblock branded">
        <div class="blog-list">
            <div class="main-content">
                <h2>Latest articles</h2>
                <ul class="post-list">
                    {{- range $paginator.Pages -}}
                        <li class="post-item">
                            {{- partial "postpreview-list" . -}}                         
                        </li>
                    {{- end -}}
                </ul>
                {{- if gt $paginator.TotalPages 1 -}}
                <div class="paginator">
                    {{- if $paginator.HasPrev -}}
                        <a href="{{ $paginator.Prev.URL }}" rel="prev">&laquo;</a>
                    {{- end -}}
                    {{- range $paginator.Pagers -}}
                        <a href="{{ .URL }}"{{ if eq . $paginator}}class="active"{{end}}>{{ .PageNumber }}</a>
                    {{- end -}}
                    {{- if $paginator.HasNext -}}
                        <a href="{{ $paginator.Next.URL }}" rel="next">&raquo;</a>
                    {{- end -}}
                </div>
                {{- end -}}
            </div>
            <div class="sidebar">
                <h2>Categories</h2>
                <ul class="category-list">
                    {{ range sort .Site.Taxonomies.categories.ByCount }}
                    <li><a href="{{ .Page.Permalink }}" class="category">{{ .Page.Title }} ({{ .Count }})</a></li>
                    {{ end }}
                </ul>
                <h2>Tags</h2>
                <ul class="tag-list">
                    {{ range sort .Site.Taxonomies.tags.ByCount }}
                    {{- if gt .Count 1 -}}
                    <li><a href="{{ .Page.Permalink }}" class="tag">{{ .Page.Title }} ({{ .Count }})</a></li>
                    {{- end -}}
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>    
    
{{ end }}
