{{ define "css" -}}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/blog.scss") | safeCSS) -}}
    {{- if in .Content "<pre class=\"chroma\">" -}}
        {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/code.scss") | safeCSS) -}}
    {{ end }}
{{- end }}

{{ define "mainwrapper" }}

{{- $pages := .Pages -}}
{{- $paginator := .Paginate $pages 15 }}

<div class="hero hero-gradient aqua "><div class="contentblock">

{{- if eq $paginator.PageNumber 1 -}}
<div class="hero-text">
    <h1>Welcome to the Percona Community blog!</h1>
    <p>Articles about technology, databases and open source for community by community. We welcome you to <a href="/blog/2022/02/10/how-to-publish-blog-post/">become an author</a> with your own topics or look for ideas in <a href="/contribute/opentopics">open topics</a>.</p>
</div>
{{- else -}}
<div class="hero-text">
    <h1>Percona Community blog: Page {{ $paginator.PageNumber }}</h1>
</div>
{{- end -}}

</div></div>

    {{- .Content -}}
    <div class="contentblock branded">
        <div class="select-container">
            <select id="categories-select" onchange="navigateToPage(this)" >
                <option value="">Categories</option>
                {{ range first 10 (sort .Site.Taxonomies.categories.ByCount) }}
                    <option value="{{ .Page.Permalink }}">{{ .Page.Title }} ({{ .Count }})</option>
                {{ end }}
            </select>
            <select id="tags-select" onchange="navigateToPage(this)">
                <option value="">Tags</option>
                {{ range first 20 (sort .Site.Taxonomies.tags.ByCount) }}
                    {{- if gt .Count 1 -}}
                    <option value="{{ .Page.Permalink }}">{{- substr  .Page.Title 0 20  -}} ({{ .Count }})</option>
                    {{- end -}}
                {{ end }}
            </select>
        </div>
        <div class="blog-list">
            <div class="main-content">
                {{- if eq $paginator.PageNumber 1 -}}
                <h2>Latest articles</h2>
                {{- end -}}
                <ul class="post-list">
                    {{- range $paginator.Pages -}}
                        <li class="post-item">
                            {{- partial "postpreview-list" . -}}                         
                        </li>
                    {{- end -}}
                </ul>
                {{- if gt $paginator.TotalPages 1 -}}
                <div class="paginator">
                    {{- if $paginator.HasPrev -}}
                        <a href="{{ $paginator.Prev.URL }}" rel="prev">&laquo;</a>
                    {{- end -}}
                    {{- range $paginator.Pagers -}}
                        <a href="{{ .URL }}"{{ if eq . $paginator}}class="active"{{end}}>{{ .PageNumber }}</a>
                    {{- end -}}
                    {{- if $paginator.HasNext -}}
                        <a href="{{ $paginator.Next.URL }}" rel="next">&raquo;</a>
                    {{- end -}}
                </div>
                {{- end -}}
            </div>
            <div class="sidebar">
                <h2>Categories</h2>
                <ul class="category-list">
                    {{ range sort .Site.Taxonomies.categories.ByCount }}
                    <li><a href="{{ .Page.Permalink }}" class="category">{{ .Page.Title }} ({{ .Count }})</a></li>
                    {{ end }}
                </ul>
                <div class="rss-feed">
                    <p>Add our <a href="/blog/index.xml">RSS feed</a> to your favorite reader and never miss an update!</p>
                    <a href="/blog/index.xml" class="rss-feed__link">
                        <img src="data:image/svg+xml;base64,{{ (resources.Get "icons/rss-icon.svg").Content | base64Encode}}" alt="RSS Community Blog" class="rss-icon" />
                        Subscribe to RSS Feed
                    </a>
                </div>                                         
                <h2>Tags</h2>
                <ul class="tag-list">
                    {{ range sort .Site.Taxonomies.tags.ByCount }}
                    {{- if gt .Count 1 -}}
                    <li><a href="{{ .Page.Permalink }}" class="tag">{{ .Page.Title }} ({{ .Count }})</a></li>
                    {{- end -}}
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>    
    <script>
        function navigateToPage(select) {
            var url = select.value;
            if (url) {
                window.location.href = url;
            }
        }
    </script> 
{{ end }}
