{{ define "css" -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/single.scss") | safeCSS) -}}
  {{- if in .Content "<pre class=\"chroma\">" -}}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/code.scss") | safeCSS) -}}
  {{ end }}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/bio.scss") | safeCSS) -}}
{{- end }}

{{ define "meta" }}
  {{- if (isset .Params "authors") -}}
    {{ range $key, $author := .Params.authors -}}
      {{- with $.Site.GetPage (print "/authors/" $author) -}}
        <meta name="author" content="{{ .Params.fullname }}" />
      {{- end }}{{ if $key }}, {{ end -}}
    {{- end -}}
  {{- end -}}
{{ end }}

{{ define "main" }}
  <article class="text{{ if not $.PublishDate}} text--simple{{ end }}"{{ if $.PublishDate }} itemscope itemtype="https://schema.org/BlogPosting"{{ end }}>
    {{ if $.PublishDate }}
      {{ with .Params.images }}<meta itemprop="image" content="{{ (resources.Get (index . 0)).Permalink }}" />{{ end }}
      <meta itemprop="mainEntityOfPage" content="{{ .Permalink }}" />
      {{ with .Params.tags}}<meta itemprop="keywords" content="{{ delimit . ", " }}" />{{ end }}
    {{ end }}

    <h1{{ if $.PublishDate }} itemprop="name headline"{{ end }}>{{ .Title }}</h1>
    {{ if $.PublishDate }}
      <div class="meta">
        <time datetime="{{ $.PublishDate }}"{{ if $.PublishDate }} itemprop="datePublished"{{ end }}>
          <span class="line">{{ $.PublishDate.Format "January 2, 2006" }}</span>
          <span class="calendar">
            <span class="day">{{ $.PublishDate.Day}}</span>
            <span class="month-year">{{ substr $.PublishDate.Month 0 3 }} {{ $.PublishDate.Year}}</span>
          </span>
        </time>
        <span class="authors">
          {{- if (isset .Params "authors") -}}
            by {{ range $key, $author := .Params.authors -}}
              {{- with $.Site.GetPage (print "/authors/" $author) -}}
                {{ if $key }}, {{ end -}}
                <a href="{{ .RelPermalink }}">{{- .Params.fullname -}}</a>
              {{- end }} 
            {{- end -}}
          {{- end -}}
        </span>
      </div>
    {{ end }}
    <div{{ if $.PublishDate }} itemprop="articleBody"{{ end }} class="body">
      {{ partial "content.html" . }}
    </div>
    {{ if (isset .Params "authors")}}
      <div class="bios">
      {{ range $key, $author := .Params.authors -}}
        <div class="bios__bio">
          {{- with $.Site.GetPage (print "/authors/" $author) -}}
            {{- with .Params.images -}}
              <img class="avatar" src="{{ ((resources.Get (index . 0)).Fill "240x240 90% jpg").Permalink}}" alt="{{ $.Params.avatar_alt }}" />
            {{- end -}}
            <div class="bios__content">
              <h2><span>{{ .Params.fullname }}</span></h2>
              {{ .Content }}
              <p><a href="/authors/{{ $author }}">See all posts by {{ .Params.fullname }} &raquo;</a></p>
            </div>
          {{- end }}
        </div>
      {{- end -}}
      </div>
    {{ end }}
  </article>

  {{ $related := $.Page.Site.RegularPages.RelatedIndices . "tags" "date" | first 3 }}
  {{ with $related }}
    <div class="recommendations">
      <h2>Did you like this post? Why not read more?</h2>
      {{ $recommendationCount := 3 }}
      <div class="grid grid--{{ $recommendationCount }}">

          {{ range . }}
          <div class="grid__item">
            {{ partial "postpreview" (dict "Link" .RelPermalink "Title" .Title "Image" (index .Params.images 0) "Content" .Content) }}
          </div>
          {{ end }}
      </div>
    </div>
  {{ end }}
{{ end }}
