{{ define "head" }}
  {{ partial "blog-schema.html" . }}
{{ end }}

{{ define "css" -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/code.scss") | safeCSS) -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/single.scss") | safeCSS) -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/blog-post.scss") | safeCSS) -}}
{{- end }}

{{ define "meta" }}
  {{- if (isset .Params "authors") -}}
    {{ range $key, $author := .Params.authors -}}
        {{- with $.Site.GetPage (print "/contributors/" $author) -}}
          <meta name="author" content="{{ .Params.fullname }}" />
        {{- end }}
    {{- end -}}
  {{- end -}}
{{ end }}

{{ define "mainwrapper" }}
  {{ partial "hub-single/hero.html" . }}
  <div class="page-main">
    {{ block "main" . }}{{ end }}
  </div>
{{ end }}

{{ define "main" }}

  <article class="text hub-single hub-single--blog blog-post{{ if not $.PublishDate}} text--simple{{ end }}">

    <a class="hub-single__back" href="{{ (site.GetPage "/blog").RelPermalink }}">
      <span aria-hidden="true">&larr;</span>
      Back to all blogs
    </a>

    <header class="hub-single__header">
      <h1 class="hub-single__title">
        {{ partial "hub-single/title.html" .Title }}
      </h1>

      {{ if $.PublishDate }}
        <div class="hub-single__meta meta">
          <p class="hub-single__meta-line">
            <span class="hub-single__meta-label">Date:</span>
            <time datetime="{{ $.PublishDate }}">{{ $.PublishDate.Format "2 January 2006" }}</time>
          </p>
          {{- if (isset .Params "authors") -}}
            <p class="hub-single__meta-line">
              <span class="hub-single__meta-label">Written by:</span>
              <span class="hub-single__authors">
                {{- range $key, $author := .Params.authors -}}
                  {{- with $.Site.GetPage (print "/contributors/" $author) -}}
                    {{- if $key }}, {{ end -}}
                    <a href="{{ .RelPermalink }}">{{ .Params.fullname }}</a>
                  {{- end -}}
                {{- end -}}
              </span>
            </p>
          {{- end -}}
        </div>
      {{ end }}
    </header>

    {{ partial "hub-single/sharing.html" . }}

    <div class="body">
      {{ partial "content.html" . }}
    </div>
  </article>

  {{ partial "hub-single/people-section.html" (dict "page" . "param" "authors" "title" "Authors") }}

  {{ partial "discourse.html" . }}

    {{ $related := $.Page.Site.RegularPages.RelatedIndices . "tags" "date" }}
    {{ $recent := where $related "Date" ">" (time "2025-01-01") }}
    {{ $limited := first 3 $recent }}

    {{ with $limited }}
      <section class="hub-single-panel recommendations">
        <h2 class="hub-single-panel__title">Did you like this post? Why not read more?</h2>
        <div class="hub-single-panel__grid">
          {{ range . }}
            {{ partial "hub-single/blog-card.html" . }}
          {{ end }}
        </div>
      </section>
    {{ end }}

{{ end }}
