{{ define "title" -}}{{ .Params.fullname }} | {{ .CurrentSection.Title }} | {{ .Site.Title }}{{ end }}

{{ define "css" -}}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/speakers.scss") | safeCSS) -}}
    {{- if in .Content "<pre class=\"chroma\">" -}}
        {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/code.scss") | safeCSS) -}}
    {{ end }}
{{- end }}

{{ define "mainwrapper" }}
    <div class="hero hero-gradient night grid-6-3">
        <div class="contentblock">
        <div class="grid grid--2">

            <div class="person__bio">
                   <h1>{{ .Params.fullname }}</h1>     
                    {{ if .Params.job }}<i>{{ .Params.job }}</i><br/><br/>
                    {{ else }}
                    </br>
                    {{ end }}

                    <p style="height:30px;">
                    {{ if .Params.social.linkedin }}
                        <a style="float: left;" href="{{ .Params.social.linkedin }}" target="_blank"><img  style="float: left; margin: 0 0.5em 0 0 ;" width="30px" height="30px" src="data:image/svg+xml;base64,{{ (resources.Get "icon-linkedin.svg").Content | base64Encode}}" alt="{{ .Params.fullname }} LinkedIn" /> Linkedin </a>
                    {{ end }}
                    {{ if .Params.social.twitter }}
                        <a  style="float: left;" href="{{ .Params.social.twitter }}" target="_blank"><img  style="float: left; margin: 0 0.5em 0 1em ;" width="30px" height="30px" src="data:image/svg+xml;base64,{{ (resources.Get "icon-twitter.svg").Content | base64Encode}}" alt="{{ .Params.fullname }} Twitter" /> Twitter </a>
                    {{ end }}
                    {{ if .Params.social.github }}
                        <a  style="float: left;" href="{{ .Params.social.github }}" target="_blank"><img  style="float: left; margin: 0 0.5em 0 1em ;" width="30px" height="30px" src="data:image/svg+xml;base64,{{ (resources.Get "icon-github.svg").Content | base64Encode}}" alt="{{ .Params.fullname }} GitHub" /> GitHub </a>
                    {{ end }}
                    </p>
                    <p>
                    {{- .Content -}}
                    </p>
            </div>

            {{- with .Params.images -}}
            <div class="person__image">
                <img class="avatar" src="{{ ((resources.Get (index . 0)).Fill "240x240 90% jpg").Permalink}}" alt="{{ $.Params.avatar_alt }}" />
            </div>
            {{- end -}}
        </div>
        </div>
    </div>

    <div class="contentblock branded"> 
        <div class="grid grid--2">
            {{- $author_name := .Params.name -}}
            {{- range $.Page.Site.RegularPages -}}
                {{ if (isset .Params "authors")}}
                    {{ if in .Params.authors $author_name }}  
                        <div class="grid__item">
                            {{- if isset .Params "images" -}}
                                {{- partial "postpreview" (dict "Link" .RelPermalink "Title" .Title "Image" (index .Params.images 0) "Content" .Content) -}}
                            {{- else -}}
                                {{- partial "postpreview" (dict "Link" .RelPermalink "Title" .Title "Content" .Content) -}}
                            {{- end -}}
                        </div>
                    {{ end }}
                {{ end }}
            {{- end -}}
        </div>
        
        {{ partial "sharing.html" . }} 

    </div>
{{ end }}
