{{ define "title" -}}{{ .Params.fullname }} | {{ .CurrentSection.Title }} | {{ .Site.Title }}{{ end }}

{{ define "css" -}}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/speakers.scss") | safeCSS) -}}
    {{- if in .Content "<pre class=\"chroma\">" -}}
        {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/code.scss") | safeCSS) -}}
    {{ end }}
{{- end }}

{{ define "mainwrapper" }}
    <div class="hero hero--bio"><div class="contentblock">
        {{- with .Params.images -}}
            <img class="avatar" src="{{ ((resources.Get (index . 0)).Fill "240x240 90% jpg").Permalink}}" alt="{{ $.Params.avatar_alt }}" />
        {{- end -}}

        <h1>{{ .Params.fullname }}</h1>
        <p><i>{{ .Params.job }}</i><br/>
        {{- .Content -}}
        <p>
    </div></div>

    <div class="contentblock"> 
        <div class="grid grid--2">
            {{- $author_name := .Params.name -}}
            {{- range $.Page.Site.RegularPages -}}
                {{ if (isset .Params "authors")}}
                    {{ if in .Params.authors $author_name }}  
                        <div class="grid__item">
                            {{- if isset .Params "images" -}}
                                {{- partial "postpreview" (dict "Link" .RelPermalink "Title" .Title "Image" (index .Params.images 0) "Content" .Content) -}}
                            {{- else -}}
                                {{- partial "postpreview" (dict "Link" .RelPermalink "Title" .Title "Content" .Content) -}}
                            {{- end -}}
                        </div>
                    {{ end }}
                {{ end }}
            {{- end -}}
        </div>
        {{ partial "sharing.html" . }} 
    </div>
{{ end }}
