<!DOCTYPE html>
<html lang="{{ .Site.Language }}" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
    <title>{{- block "title" . }}{{ if not .IsHome }}{{ with .Title }}{{ . | truncate 60 }} | {{ end }}{{ end }}{{ .Site.Title }}{{- end }}</title>

    <meta name="description" content="{{ with .Description }}{{ . | truncate 159 }}{{ else }}{{if .IsPage}}{{ .Summary | truncate 159 }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
    {{ if .Site.Params.favicon }}
    <link rel="shortcut icon" href="{{ (resources.Get "icons/cropped-percona-favicon-32x32.png").RelPermalink }}" type="image/png" />
    {{ end }}

    {{ if .Params.canonical -}}
      <link rel="canonical" href="{{ .Params.canonical }}" />
    {{- else -}}
      <link rel="canonical" href="{{ .Permalink }}" />
    {{- end }}

    {{ if not (or (.Params.private) (hasPrefix .RelPermalink "/tags")) }}
    <meta name="robots" content="index,follow">
    {{ else }}
    <meta name="robots" content="noindex,nofollow"> 
    {{ end }}

    {{"<!-- region Social -->" | safeHTML}}
    {{ partial "opengraph.html" . }}
    {{ partial "twitter_cards.html" . }}
    {{"<!-- endregion -->\n" | safeHTML}}

    {{"<!-- region Social -->" | safeHTML}}
    <meta name="google-site-verification" content="oTZBexFGIqYkiMJA1zTYh8wP059CASDSEgpH1L2WA1Q" />
    <meta name="copyright" content="{{ .Site.Copyright }}" />
    {{"<!-- endregion -->\n" | safeHTML}}

    {{ range .AlternativeOutputFormats -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink .Name | safeHTML }}
    {{ end -}}

    {{- block "meta" . }}{{- end -}}

    {{- .Page.Scratch.Set "css" "" -}}
    {{- block "css" . -}}{{- end -}}
    {{- $cssPath := printf "%s%s" .RelPermalink "page.css" -}}
    {{- $css := (.Page.Scratch.Get "css" | resources.FromString $cssPath | css.Sass | resources.Minify) -}}
    <style>{{ $css.Content | safeCSS }}</style>

    {{ block "head" . }}{{ end }}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-343802-37"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-343802-37');
    </script>

{{ if .Store.Get "hasMermaid" }}
      <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
        mermaid.initialize({ startOnLoad: true });
      </script>
{{ end }}

    <meta name="color-scheme" content="dark light" />
    <link rel='stylesheet' type='text/css' href='https://cdn-prod.securiti.ai/consent/cookie-consent.css' />
  </head>
  <body>
    <header>
      <div class="page-header">
        <div class="logo"><a href="/">
          <img src="data:image/svg+xml;base64,{{ (resources.Get "percona-logo.svg").Content | base64Encode}}" alt="Percona" />
        </a></div>
        <input type="checkbox" id="show-mobile-menu" value="1" aria-hidden="true" />
        <div class="mobile-toggle" aria-controls="mobile-menu" aria-label="Open navigation" role="button">
          <label for="show-mobile-menu" id="hamburger">
            <span class="hamburger-bar"></span>
            <span class="hamburger-bar"></span>
            <span class="hamburger-bar"></span>
          </label>
        </div>
        <div class="mobile-menu" id="mobile-menu" aria-labelledby="navigation-header" role="dialog" aria-modal="false" aria-hidden="true">
          <nav>
            <ul class="menu__list">
              {{ $currentPage := . }}
              {{ range .Site.Menus.main }}
                <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                  <a href="{{ .URL }}" {{ if strings.HasPrefix .URL "http" }} target="_blank" rel="noopener noreferrer"{{ end }}>
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                  </a>
                  {{ if .HasChildren }}
                  <!-- <span class="drop-icon" for="{{ .Name }}">▾</span> -->
                  <ul class="submenu__list sub-menu">
                      {{ range .Children }}
                      <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                        <a href="{{ .URL }}">
                          <span>{{ .Name }}</span>
                        </a>
                      </li>
                      {{ end }}
                  </ul>
                 {{ end }} 
                </li>
              {{ end }}
              <li class="">
                  <a href="https://percona.com" target="_blank" >
                    <span>percona.com</span>
                  </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main class="page">
      {{ block "mainwrapper" . }}
        <div class="page-main">
          {{ block "main" . }}{{ end }}
        </div>
      {{ end }}
    </main>


    {{ block "edit" . }}
        {{ with .File }}
          <div class="edit-on-github">
            <div class="container">
              <a href="{{ printf "https://github.com/percona/community/edit/main/content/%s" .Path | safeURL }}" target="_blank" rel="noreferrer noopener">
                ✎ Edit this page on GitHub
              </a>
            </div>
          </div>
        {{ end }}
    {{ end }}

    <footer class="page">
      <p class="aria-only" id="footer-heading" aria-hidden="false">Footer</p>
      <div class="page-footer">
        <nav class="footer">
          <div class="abc">

            <ul>
              {{ range .Site.Menus.footer }}
              <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                <a href="{{ .URL }}" {{ if strings.HasPrefix .URL "http" }} target="_blank" rel=" noreferrer"{{ end }}>
                  {{ .Pre }}
                  <span>{{ .Name }}</span>
                </a>
              </li>
              {{ end }}
              <li><a class="cmp-revoke-consent" style="padding-left: 0.75rem!important; padding-right: 0.75rem!important;">Revoke Consent</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div>

        {{ with .Site.Copyright | default .Site.Title }}<aside> {{ . | safeHTML }} </aside>{{ end }}
      </div>
    </footer>

    {{ $js := resources.Get "js/aria.js" }}
    {{ $secureJS := $js | resources.Fingerprint "sha512" }}
    <script async type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}" defer></script>
    <!-- After adding this script, call setConsentBannerParams({uuid: <unique id> }) to set unique ID for a customer. -->
    <script async>
    (function () {
      var s = document.createElement('script');
      s.src = 'https://cdn-prod.securiti.ai/consent/cookie-consent-sdk.js';
      s.setAttribute('data-tenant-uuid', '2ea5dc1c-c928-410b-a379-78d825d2eb0c');
      s.setAttribute('data-domain-uuid', '2f40096a-75c8-4af2-aec3-42db0231a457');
      s.setAttribute('data-backend-url', 'https://app.securiti.ai');
      s.defer = true;
      var parent_node = document.head || document.body;
      parent_node.appendChild(s);
      s.addEventListener('load', function() { window.initCmp(); });
    })()
    </script>
  </body>
</html>
