{{ define "css" }}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/blog.scss") | safeCSS) -}}
{{ end }}

{{ define "main" }}

    <h1>{{ .Title }}</h1>

    {{ .Content }}
  

    {{ if .Data.Terms }}

        {{ range .Data.Terms.ByCount }}
        <h3><a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a> ({{ .Count }})</h3>
        {{ end }}

    {{ else if .Pages }}

        <ul>
            {{ range .Pages }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    {{ else }}
        <p>No content available.</p>
    {{ end }}

{{ end }}