{{ define "css" -}}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/blog.scss") | safeCSS) -}}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/events.scss") | safeCSS) -}}
    {{- if in .Content "<pre class=\"chroma\">" -}}
        {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/code.scss") | safeCSS) -}}
    {{ end }}
{{- end }}

{{ define "mainwrapper" }}

    <div class="hero hero-gradient night">
        <div class="contentblock">
            <div class="hero-text">

            <h1>{{ .Title }} Events</h1>
            {{ if .Content }}
                {{ .Content }}
            {{ else }}

                {{ if eq .Title "Speaking" }}
                    <p>
                        Explore all Speaking events featuring talks, presentations, and expert sessions.
                        Full list of speakers is available on the <a href="/contributor_type/speaker/">Speakers page</a>.
                        See all events <a href="/events/">here</a>.
                    </p>

                {{ else if eq .Title "Sponsoring" }}
                    <p>
                        Browse Sponsoring events supported by Percona and our community partners.
                        Learn more about contributors on the <a href="/contributor_type/speaker/">Speakers page</a>.
                        See all events <a href="/events/">here</a>.
                    </p>

                {{ else }}
                    <p>
                        Browse all {{ .Title }} events.
                        Full list of speakers on the <a href="/contributor_type/speaker/">Speakers page</a>.
                        See all events <a href="/events/">here</a>.
                    </p>
                {{ end }}

            {{ end }}

            </div>
        </div>
    </div>

    {{- .Content -}}
    
    {{ $pages := .Pages.ByDate.Reverse }}
    {{- $paginator := .Paginate $pages }}

    {{ partial "events-list.html" (dict "paginator" $paginator "page" . "searchPages" $pages) }}

{{ end }}