{{ define "css" -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/single.scss") | safeCSS) -}}
  {{- if in .Content "<pre class=\"chroma\">" -}}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/code.scss") | safeCSS) -}}
  {{ end }}
{{- end }}

{{ define "main" }}
  <article class="text{{ if not $.PublishDate}} text--simple{{ end }}"{{ if $.PublishDate }} itemscope itemtype="https://schema.org/BlogPosting"{{ end }}>
    {{ if $.PublishDate }}
      {{ with .Params.images }}<meta itemprop="image" content="{{ (resources.Get (index . 0)).Permalink }}" />{{ end }}
      <meta itemprop="mainEntityOfPage" content="{{ .Permalink }}" />
      {{ with .Params.tags}}<meta itemprop="keywords" content="{{ delimit . ", " }}" />{{ end }}
    {{ end }}

    <h1{{ if $.PublishDate }} itemprop="name headline"{{ end }}>{{ .Title }}</h1>
    {{ if $.PublishDate }}
      <div class="meta">
        <time datetime="{{ $.Date }}"{{ if $.PublishDate }} itemprop="date"{{ end }}>
          <span class="line">{{ $.Date.Format "January 2, 2006" }}</span>
          <span class="calendar">
            <span class="day">{{ $.Date.Day}}</span>
            <span class="month-year">{{ substr $.Date.Month 0 3 }} {{ $.Date.Year}}</span>
          </span>
        </time>
      </div>
    {{ end }}
    <div{{ if $.PublishDate }} itemprop="articleBody"{{ end }} class="body">
      {{ partial "content.html" . }}
    </div>
    <div class="recommendations">
      <h2>Some other meeting notes!</h2>
      {{ $recommendationCount := 3 }}
      <div class="grid grid--{{ $recommendationCount }}">
        {{- $recommendations := first 0 (where $.Page.Site.RegularPages "Section" "emm") }}
        {{- if isset .Params "recommendations" -}}
          {{ range $key, $recommendation := .Params.recommendations -}}
            {{- with $.Site.GetPage $recommendation -}}
              {{- $recommendations = $recommendations | append . -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}

        {{- $missingPosts := sub $recommendationCount (len $recommendations) }}
        {{- range first $missingPosts (where $.Page.Site.RegularPages "Section" "emm") }}
          {{- $recommendations = $recommendations | append . -}}
        {{- end -}}

        {{- range $recommendations -}}
          <div class="grid__item">
            {{ partial "postpreview" (dict "Link" .RelPermalink "Title" .Title "Image" (index .Params.images 0) "Content" .Content) }}
          </div>
        {{- end -}}
      </div>
    </div>
  </article>
{{ end }}
