{{ define "title" }}
  {{- $seo := partialCached "planet-pg/seo.html" . .RelPermalink -}}
  {{- with $seo.title -}}
    {{- . -}}
  {{- else -}}
    {{- printf "#%s | %s" .Title site.Title -}}
  {{- end -}}
{{ end }}

{{ define "meta" }}
  {{- $seo := partialCached "planet-pg/seo.html" . .RelPermalink -}}
  {{- with $seo.contributor -}}
    {{- $person := dict "@type" "Person" "name" .Params.fullname "url" .Permalink -}}
    {{- with .Params.job | default .Params.tagline -}}
      {{- $person = merge $person (dict "jobTitle" .) -}}
    {{- end -}}
    {{- with $seo.image -}}
      {{- $person = merge $person (dict "image" .) -}}
    {{- end -}}
    {{- $schema := dict
      "@context" "https://schema.org"
      "@type" "ProfilePage"
      "name" $seo.title
      "description" $seo.description
      "url" $.Permalink
      "mainEntity" $person
    -}}
<script type="application/ld+json">{{ $schema | jsonify | safeJS }}</script>
  {{- end -}}
{{ end }}

{{ define "css" -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/knowledge-base.scss") | safeCSS) -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/events-learning.scss") | safeCSS) -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/blog.scss") | safeCSS) -}}
{{- end }}

{{ define "mainwrapper" }}
{{ $pages := .Pages }}
{{ $paginator := .Paginate $pages 15 }}
{{- $found := partialCached "planet-pg/contributor.html" . .RelPermalink -}}
{{- $contributor := $found.page -}}

{{ if $contributor }}
  {{ partial "planet-pg/page.html" (dict "page" . "contributor" $contributor "paginator" $paginator) }}
{{ else }}
{{ $title := printf "#%s articles and events" .Title }}
{{ if gt $paginator.PageNumber 1 }}
  {{ $title = printf "#%s — Page %d" .Title $paginator.PageNumber }}
{{ end }}

{{ partial "blog/shell.html" (dict
  "page" .
  "paginator" $paginator
  "searchPages" $pages
  "variant" "compact"
  "titleOverride" $title
) }}
{{ end }}
{{ end }}
