{{ define "title" }}
  {{- $contributor := false -}}
  {{- $tag := lower .Title -}}
  {{- range where site.RegularPages "Section" "contributors" -}}
    {{- if eq (lower .Params.planet_pg_tag) $tag -}}
      {{- $contributor = . -}}
    {{- end -}}
  {{- end -}}
  {{- with $contributor -}}
    {{- .Params.fullname }} | PostgreSQL blog | {{ site.Title -}}
  {{- else -}}
    {{- printf "#%s | %s" .Title site.Title -}}
  {{- end -}}
{{ end }}

{{ define "css" -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/knowledge-base.scss") | safeCSS) -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/events-learning.scss") | safeCSS) -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/blog.scss") | safeCSS) -}}
{{- end }}

{{ define "mainwrapper" }}
{{ $pages := .Pages }}
{{ $paginator := .Paginate $pages 15 }}
{{- $contributor := false -}}
{{- $tag := lower .Title -}}
{{- range where site.RegularPages "Section" "contributors" -}}
  {{- if eq (lower .Params.planet_pg_tag) $tag -}}
    {{- $contributor = . -}}
  {{- end -}}
{{- end -}}

{{ if $contributor }}
  {{ partial "planet-pg/page.html" (dict "page" . "contributor" $contributor "paginator" $paginator) }}
{{ else }}
{{ $title := printf "#%s articles and events" .Title }}
{{ if gt $paginator.PageNumber 1 }}
  {{ $title = printf "#%s — Page %d" .Title $paginator.PageNumber }}
{{ end }}

{{ partial "blog/shell.html" (dict
  "page" .
  "paginator" $paginator
  "searchPages" $pages
  "variant" "compact"
  "titleOverride" $title
) }}
{{ end }}
{{ end }}
