{{ define "css" -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/home.scss") | safeCSS) -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/events-learning.scss") | safeCSS) -}}
{{- end }}

{{ define "mainwrapper" }}
{{ if not .Data.Term }}
  <script>window.location.replace({{ (site.GetPage "/talks").RelPermalink | jsonify }});</script>
  <p class="el-panel__empty">Redirecting to <a href="{{ (site.GetPage "/talks").RelPermalink }}">Talks Hub</a>…</p>
{{ else }}
{{ $now := now }}
{{ $pastPages := slice }}
{{ range .Pages }}
  {{ $dateStr := .Params.presentation_date | default .Params.event_date_start }}
  {{ if $dateStr }}
    {{ if lt (time $dateStr) $now }}
      {{ $pastPages = $pastPages | append . }}
    {{ end }}
  {{ else }}
    {{ $pastPages = $pastPages | append . }}
  {{ end }}
{{ end }}
{{ $pastPages = sort $pastPages ".Params.presentation_date" "desc" }}
{{ $paginator := .Paginate $pastPages 9 }}

{{ partial "talks-hub/shell.html" (dict
  "page" .
  "paginator" $paginator
  "searchPages" .Pages
  "variant" "filtered"
  "activeNav" "talks"
) }}
{{ end }}
{{ end }}
