{{ define "css" }}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/talks.scss") | safeCSS) -}}
{{ end }}

{{ define "mainwrapper" }}

{{- $pages := .Pages -}}
{{- $pages = sort $pages ".Params.presentation_date" "desc" -}}

{{- $paginator := .Paginate $pages 9 -}}

<div class="hero hero-gradient aqua">
  <div class="contentblock">
    <div class="hero-text">
      <h1>
        Talks tagged #{{ .Title }}
      </h1>
      <p>
        Presentations from Percona Community speakers on {{ .Title }}.
      </p>
    </div>
  </div>
</div>

{{ partial "talks-list.html" (dict "paginator" $paginator "page" . "searchPages" $pages) }}

{{ end }}
