{{ define "css" -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/home.scss") | safeCSS) -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/events-learning.scss") | safeCSS) -}}
{{- end }}

{{ define "mainwrapper" }}
{{ if not .Data.Term }}
  <script>window.location.replace({{ (site.GetPage "/talks").RelPermalink | jsonify }});</script>
  <p class="el-panel__empty">Redirecting to <a href="{{ (site.GetPage "/talks").RelPermalink }}">Talks Hub</a>…</p>
{{ else }}
{{ $pages := sort .Pages ".Params.presentation_date" "desc" }}
{{ $paginator := .Paginate $pages 9 }}

{{ partial "talks-hub/shell.html" (dict
  "page" .
  "paginator" $paginator
  "searchPages" $pages
  "variant" "filtered"
  "activeNav" "talks"
) }}
{{ end }}
{{ end }}
