<div class="comments">
<h2>Discussion</h2>
<p class="notes">We invite you to our <a href="https://forums.percona.com/">forum</a> for discussion. You are welcome to use the widget below.</p>
<div id='discourse-comments'></div>

<meta name='discourse-username' content='daniil.bazhenov'>

<script type="text/javascript" async>
  DiscourseEmbed = {
    discourseUrl: 'https://forums.percona.com/',
    discourseEmbedUrl: '{{ $.Permalink }}',
    className: 'percona',
  };

  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>
</div>