{{ $alt := .Title }}

<a href="{{ .RelPermalink }}" class="post post--preview">

    {{ with .Params.images }}
        <img width="100%" height="100%" 
             src="{{ ((resources.Get (index . 0)).Fill "682x384 60% jpg").RelPermalink }}" 
             alt="{{ $alt }}" />
    {{ end }}

    <h3>{{ .Title }}</h3>

    <div class="post__content">

        {{ with .Content }}
            <p>{{ replace (index (split . "</p>") 0) "<p>" "" | safeHTML | plainify }}</p>
        {{ end }}

        <div class="bottom">

            {{ if .Params.EventDate }}
                <p>{{ .Params.EventDate }}</p>

            {{ else if .Params.event_date }}
                <p>{{ .Params.event_date }}</p>

            {{ else if .Date }}
                <p>{{ .Date.Format "January 2, 2006" }}</p>

            {{ else }}
                <p class="readmore">Read more &raquo;</p>
            {{ end }}

        </div>
    </div>

</a>
