<div class="home-blocks home-blocks__streams branded">
    <h2>Data Gravity Podcast</h2>
    <div class="grid grid--3">
    {{ $t := slice "Data Gravity" }}

    {{- range first 3 (where (where $.Page.Site.RegularPages "Section" "events") "Params.tags" "intersect" $t ) -}}
    <div class="grid__item">
    {{ partial "talkpreview" (dict "Link" .RelPermalink "Date" .Params.date "Title" .Title "Image" (index .Params.images 0) ) }}
    </div>
    {{- end -}}
    </div>
    <a class="view-all" href="{{ "/events/data-gravity" | relURL }}" >View All</a>
</div>