{{ $alt := .Title }}
<a href="{{ .Link }}" class="post post--preview">
{{ with .Image }}<img  width="100%" height="100%" src="{{ ((resources.Get .).Fill "682x384 90% jpg").RelPermalink }}" alt="{{ $alt }}" />{{ end }}
<div class="post__text">
<h3>{{ .Title }}</h3>
{{ if .Content }}
<div class="post__content">
{{ if .Excerpt }}
{{- .Excerpt | markdownify -}}
{{ else }}
<p>{{- substr (replace (index (split .Content "</p>") 0) "<p>" "" | safeHTML | plainify | htmlUnescape) 0 200  -}} <small>...</small></p>
{{ end }}
<div class="bottom">
    <p>{{ .PublishDate.Format "January 2, 2006" }}</p>
</div>
</div>
{{ else }}
<div class="bottom">
    <p>{{ .PublishDate.Format "January 2, 2006" }}</p>
</div>
{{ end }}
</div>
</a>