<div class="contentblock">
    <div class="grid grid--2">
        {{- range where $.Page.Site.RegularPages "Section" .Section -}}
            <div class="grid__item">
                {{- if isset .Params "images" -}}
                    {{- partial "postpreview" (dict "Link" .RelPermalink "Title" .Title "Image" (index .Params.images 0) "Content" .Content) -}}
                {{- else -}}
                    {{- partial "postpreview" (dict "Link" .RelPermalink "Title" .Title "Content" .Content) -}}
                {{- end -}}
            </div>
        {{- end -}}
    </div>
</div>