<div class="contentblock branded">
  <div class="select-container">
    <select id="categories-select" onchange="navigateToPage(this)">
      <option value="">Years</option>
      {{ range first 10 (sort .page.Site.Taxonomies.talk_year.ByCount) }}
        <option value="{{ .Page.Permalink }}">{{ .Page.Title }} ({{ .Count }})</option>
      {{ end }}
    </select>
    <select id="tags-select" onchange="navigateToPage(this)">
      <option value="">Tags</option>
      {{ range first 20 (sort .page.Site.Taxonomies.talk_tags.ByCount) }}
        {{- if gt .Count 1 -}}
          <option value="{{ .Page.Permalink }}">{{ substr .Page.Title 0 20 }} ({{ .Count }})</option>
        {{- end -}}
      {{ end }}
    </select>
  </div>

  <div class="talks">
    <div class="main-content">
      <div class="talks-list">
        {{ range .paginator.Pages }}
          <div class="talks-item">
            {{ partial "talks-preview.html" . }}
          </div>
        {{ end }}
      </div>

      {{ if gt .paginator.TotalPages 1 }}
        <div class="paginator">
          {{ if .paginator.HasPrev }}
            <a href="{{ .paginator.Prev.URL }}" rel="prev">&laquo;</a>
          {{ end }}
          {{ range .paginator.Pagers }}
            <a href="{{ .URL }}"{{ if eq . $.paginator }}class="active"{{ end }}>{{ .PageNumber }}</a>
          {{ end }}
          {{ if .paginator.HasNext }}
            <a href="{{ .paginator.Next.URL }}" rel="next">&raquo;</a>
          {{ end }}
        </div>
      {{ end }}
    </div>

    <div class="sidebar">
      <h2>Years</h2>
      <ul class="category-list">
        {{ range sort .page.Site.Taxonomies.talk_year.ByCount }}
          <li><a href="{{ .Page.Permalink }}" class="category">{{ .Page.Title }} ({{ .Count }})</a></li>
        {{ end }}
      </ul>
      <h2>Tags</h2>
      <ul class="tag-list">
        {{ range sort .page.Site.Taxonomies.talk_tags.ByCount }}
          {{ if gt .Count 1 }}
            <li><a href="{{ .Page.Permalink }}" class="tag">{{ .Page.Title }} ({{ .Count }})</a></li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</div>
