{{- $video := .Params.video -}}
{{- $ytID := "" -}}
{{- if $video -}}
    {{- if strings.Contains $video "youtube.com/watch" -}}
        {{- $ytID = replaceRE `.*[?&]v=([^&]+).*` "$1" $video -}}
    {{- else if strings.Contains $video "youtu.be/" -}}
        {{- $ytID = replaceRE `.*youtu\.be/([^?&]+).*` "$1" $video -}}
    {{- end -}}
{{- end -}}
{{- $hasCustomImage := .Params.images -}}
{{- $coverImg := partial "page-cover-resource.html" . -}}

<a href="{{ .RelPermalink }}" class="talk-pg-card">
    <div class="talk-pg-card__img{{ if $hasCustomImage }} talk-pg-card__img--clean{{ end }}">
        {{- if $hasCustomImage -}}
            {{- with $coverImg -}}
            <img src="{{ (.Fill "682x384 60% jpg").RelPermalink }}"
                 alt="{{ $.Title }}" loading="lazy" />
            {{- end -}}
        {{- else if $ytID -}}
            <img src="https://img.youtube.com/vi/{{ $ytID }}/mqdefault.jpg"
                 alt="{{ .Title }}" loading="lazy" />
        {{- else -}}
            {{- with $coverImg -}}
            <img src="{{ (.Fill "682x384 60% jpg").RelPermalink }}"
                 alt="{{ $.Title }}" loading="lazy" />
            {{- end -}}
        {{- end -}}

        {{- if $ytID -}}
        <span class="talk-pg-card__play">▶</span>
        {{- end -}}
    </div>
</a>
