{{ $alt := .Title }}
<a href="{{ .Link }}" class="post post--preview">
{{ with .Image }}<img width="100%" height="100%" src="{{ ((resources.Get .).Fill "682x384 60% jpg").RelPermalink }}" alt="{{ $alt }}" />{{ end }}
<h3>{{ .Title }}</h3>
{{ if .Content }}
<div class="post__content">
<p>{{- replace (index (split .Content "</p>") 0) "<p>" "" | safeHTML | plainify  -}}</p>
<div class="bottom">
    {{ if .EventDate }}
    <p>{{ .EventDate}}</p>
    {{ else if .Date }}
    <p>{{ .Date.Format "January 2, 2006" }}</p>
    {{ else }}
    <p class="readmore">Read more &raquo;</p>
    {{ end }}
</div>
</div>
{{ else }}
{{ if .EventDate }}
<div class="post__content">
    <div class="bottom">
        <p>{{ .EventDate}}</p>
    </div>
</div>
{{ else if .Date }}
<div class="post__content">
    <div class="bottom">
        <p>{{ .Date.Format "January 2, 2006" }}</p>
    </div>
</div>
{{ end }}
{{ end }}
</a>
