{{- $share := partial "page-share-image.html" . -}}
{{- with $share.url -}}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{ . }}"/>
{{- else -}}
<meta name="twitter:card" content="summary"/>
{{- end -}}
<meta name="twitter:title" content="{{ if (ne .Title "")}}{{ .Title }} | {{ end}}{{ .Site.Title }}"/>
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>
{{ with .Site.Params.Social.twitter -}}
    <meta name="twitter:site" content="@{{ . }}"/>
{{ end -}}
{{ range .Params.authors }}
    {{ with $.Site.GetPage (print "/contributors/" .) -}}
        {{ with .Params.social.twitter }}
            <meta name="twitter:creator" content="@{{ . }}"/>
        {{ end -}}
    {{ end -}}
{{ end -}}
