{{ $page := . }}
{{ $heading := "Video" }}
{{ if reflect.IsMap . }}
  {{ $page = .page | default . }}
  {{ $heading = .heading | default $heading }}
{{ end }}
{{ with $page.Params.youtube_id }}
  <div class="youtube__block media-embed media-embed--youtube">
    <h2>{{ $heading }}</h2>
    <iframe
      src="https://www.youtube.com/embed/{{ . }}"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <p class="media-embed__caption video-link">
      Watch on:
      <a href="https://youtu.be/{{ . }}" class="youtube__link" target="_blank" rel="noopener noreferrer">YouTube</a>
    </p>
  </div>
{{ end }}
