{{ define "title" }}Not found :({{ end }}

{{ define "css" -}}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/404.scss") | safeCSS) -}}
{{- end }}

{{ define "main" }}
    <div class="text">
        <h1>Not found 😢</h1>

        <div class="body">
            <p>Looks like you hit a dead end. Let's get you back on track:</p>

            <ul>
                <li>Did you click a link to get here? If yes, please <a href="/contact">contact us</a> and let me know about it.</li>
                <li>Did you want to read something? <a href="/blog">Go to our blog!</a></li>
                <li>Did you want to learn more about us? <a href="/about">Read about us!</a></li>
            </ul>
        </div>
    </div>
{{ end }}
