{{ define "css" -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/home.scss") | safeCSS) -}}
  {{- if in .Content "<pre class=\"chroma\">" -}}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/code.scss") | safeCSS) -}}
  {{ end }}
{{- end }}

{{ define "mainwrapper" }}
  {{ .Content }}

  <div class="contentblock">

    {{ partial "home4events.html" . }}

    {{ partial "home4posts.html" . }}

    {{ partial "home4podcasts.html" . }}

    {{ partial "home4streams.html" . }}
  
  </div>
{{ end }}

