{{ define "css" -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/home.scss") | safeCSS) -}}
  {{- if in .Content "<pre class=\"chroma\">" -}}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/code.scss") | safeCSS) -}}
  {{ end }}
{{- end }}

{{ define "mainwrapper" }}

<div class="home">
  {{ .Content }}

  <div class="block">
    <div class="block__content">

    {{ partial "home4events.html" . }}

    </div>  
  </div>

  <div class="block blue">
    <div class="block__content"> 
    {{ partial "home4posts.html" . }}
    </div>
  </div>

  <div class="block">
    <div class="block__content">  
      {{ partial "home4streams.html" . }}
    </div>  
  </div>
</div>
{{ end }}

