{{ define "head" }}
{{ end }}

{{ define "css" -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/home.scss") | safeCSS) -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/events.scss") | safeCSS) -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/hub-single.scss") | safeCSS) -}}
{{- end }}

{{ define "mainwrapper" }}

<div class="home">
  {{ partial "home-hero.html" . }}
  {{ partial "home-upcoming-events.html" . }}
  {{ partial "home-latest-cards.html" (dict
    "eyebrow" "Knowledge Base"
    "title" "Latest"
    "accent" "Articles"
    "section" "blog"
    "cardPartial" "hub-single/blog-card.html"
    "limit" 3
    "viewAllPage" (site.GetPage "/blog")
    "viewAllLabel" "View all articles"
    "headingId" "home-blog-heading"
  ) }}
  {{ partial "home-latest-cards.html" (dict
    "eyebrow" "Events & Learning"
    "title" "Latest"
    "accent" "Talks"
    "section" "talks"
    "cardPartial" "hub-single/talk-card.html"
    "limit" 3
    "viewAllPage" (site.GetPage "/talks")
    "viewAllLabel" "View all talks"
    "headingId" "home-talks-heading"
  ) }}
  {{ partial "home-ascent-cta.html" . }}

  <div class="home-newsletter">
    {{ partial "events-learning/newsletter-figma.html" . }}
  </div>
</div>
{{ end }}
