{{ define "css" -}}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/blog.scss") | safeCSS) -}}
    {{- if in .Content "<pre class=\"chroma\">" -}}
        {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/code.scss") | safeCSS) -}}
    {{ end }}
{{- end }}

{{ define "mainwrapper" }}

    {{- .Content -}}

    <div class="contentblock">

        <div class="grid grid--2">
            {{- $pages := .Pages -}}
            {{- $paginator := .Paginate $pages }}
            {{- range $paginator.Pages -}} 
                <div class="grid__item">
                    {{- if isset .Params "images" -}}
                        {{- partial "talkpreview" (dict "Link" .RelPermalink "Title" .Title "Image" (index .Params.images 0) "Content" .Params.description ) -}}
                    {{- else -}}
                        {{- partial "talkpreview" (dict "Link" .RelPermalink "Title" .Title "Content" .Params.description) -}}
                    {{- end -}}
                </div>
            {{- end -}}
        </div>
        {{- if gt $paginator.TotalPages 1 -}}
        <div class="paginator">
            {{- if $paginator.HasPrev -}}
                <a href="{{ $paginator.Prev.URL }}" rel="prev">&laquo;</a>
            {{- end -}}
            {{- range $paginator.Pagers -}}
                <a href="{{ .URL }}"{{ if eq . $paginator}}class="active"{{end}}>{{ .PageNumber }}</a>
            {{- end -}}
            {{- if $paginator.HasNext -}}
                <a href="{{ $paginator.Next.URL }}" rel="next">&raquo;</a>
            {{- end -}}
        </div>
        {{- end -}}

        {{ partial "sharing.html" . }}
    </div>

{{ end }}

