{{ define "css" -}}

    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/blog.scss") | safeCSS) -}}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/events.scss") | safeCSS) -}}
    {{- if in .Content "<pre class=\"chroma\">" -}}
        {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/code.scss") | safeCSS) -}}
    {{ end }}
{{- end }}

{{ define "mainwrapper" }}

    {{- $pages := .Pages -}}
    {{- $paginator := .Paginate $pages 12 }}

    {{ if eq .Section "events"}}
        <div class="hero hero-gradient night "><div class="contentblock">

        {{ if eq $paginator.PageNumber 1 }}
            <div class="hero-text">
                <h1>Events</h1>
                <p>Events organized by the Percona Community or other open source database communities</p>
                <p>Full list of speakers on <a href="/contributor_type/speaker/">the Speakers page</a>.</p>
            </div>
        {{ else }}
            <div class="hero-text">
                <h1>Events — Page {{ .Paginator.PageNumber }}</h1>
                <p>Back to events home: <a href="{{ .Paginator.First.URL }}">Events</a> | <a href="/contributor_type/speaker/">Speakers</a></p>
            </div>
        {{ end }}

        {{ if eq $paginator.PageNumber 1 }}

        <div class="featured__wrapper">
            <div class="grid grid--2">

                <div class="featured__left featured__one branded">

                    {{- $array := split "Promo" "," -}}
                    {{- $one := first 1 (where (where $.Page.Site.RegularPages "Section" "events") "Params.tags" "intersect" $array ) -}}

                    {{- range $one -}}
                        {{ if isset .Params "images" }}
                        {{- partial "talkpreview" (dict "Link" .RelPermalink "Title" .Title "Image" (index .Params.images 0) "Content" .Content "Date" .Date) -}}  
                        {{ else }}
                         {{- partial "talkpreview" (dict "Link" .RelPermalink "Title" .Title "Content" .Content "Date" .Date) -}}          
                        {{ end }}
                    {{- end -}}
                </div>

                <div class="featured__right featured__list">
                    <h2 class="title-wrap">FEATURED EVENTS</h2>

                    {{- $featured := first 3 (shuffle (where (where $.Page.Site.Pages "Section" "events") "Params.tags" "intersect" (slice "Featured"))) -}}

                    {{- range $featured -}}
                        {{ if isset .Params "images" }}
                            {{- partial "featured-blog-post-grid-line" (dict "Link" .RelPermalink "Title" .Title "Image" (index .Params.images 0) "PublishDate" .Date) -}} 
                        {{ else }}
                            {{- partial "featured-blog-post-grid-line" (dict "Link" .RelPermalink "Title" .Title "PublishDate" .Date) -}}         
                        {{ end }}
                    {{- end -}}
                </div>
            </div>
        </div>
        {{- end -}}
        </div></div>
    {{- end -}}

    {{- .Content -}}

    {{ partial "events-list.html" (dict "paginator" $paginator "page" . "searchPages" $pages) }}

    <div class="block blue"><div class="block__content"> 
    <div class="blog__featured ">
        <h2>Community Blog</h2>
        <div class="grid grid--4">
        {{ $t := slice "Meetup" "Conference" }}

        {{- $posts := first 4 (where (where $.Page.Site.RegularPages "Section" "blog") "Params.tags" "intersect" $t ) -}}

        {{- range $posts -}}
        <div class="grid__item">
        {{ partial "postpreview" (dict "Link" .RelPermalink "Title" .Title "Image" (index .Params.images 0) "PublishDate" .PublishDate ) }}
        </div>
        {{- end -}}
        </div>
        <a class="view-all" href="{{ "/blog/" | relURL }}" >Read more</a>
    </div>
    </div></div>

{{ end }}

