{{ define "css" -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/single.scss") | safeCSS) -}}
  {{- if in .Content "<pre class=\"chroma\">" -}}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/code.scss") | safeCSS) -}}
  {{ end }}

  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/landing.scss") | safeCSS) -}}
{{- end }}

{{ define "meta" }}
  {{- if (isset .Params "speakers") -}}
    {{ range $key, $author := .Params.authors -}}
      {{- with $.Site.GetPage (print "/authors/" $author) -}}
        <meta name="author" content="{{ .Params.fullname }}" />
      {{- end }}{{ if $key }}, {{ end -}}
    {{- end -}}
  {{- end -}}
{{ end }}

{{ define "main" }}

<div class="landing text">
  
    <h1>{{ .Title }}</h1>

    <div class="body">
      {{ partial "content.html" . }}
    </div>

    <div class="video">
        {{ partial "video.html" . }} 
    </div>

   {{ if (isset .Params "speakers")}}
    <h2>Speakers</h2>
    <div class="grid grid--3 speakers">
        {{ range $key, $author := .Params.speakers }}
          {{- with $.Site.GetPage (print "/speakers/" $author) -}}
            <div class="grid__item speaker">
               {{- if isset .Params "images" -}}
                    {{- partial "speakerpreview" (dict "Link" .RelPermalink "Name" .Params.fullname "Image" (index .Params.images 0) "Content" .Content "Job" .Params.job) -}}
                {{- else -}}
                    {{- partial "speakerpreview" (dict "Link" .RelPermalink "Name" .Params.fullname "Content" .Content "Name" .Params.full_name) -}}
                {{- end -}}
            </div>
          {{- end }}
        {{ end }}
    </div>
    {{ end }}

</div>

  <br/><br/>
  {{ partial "sharing.html" . }}

  <br/><br/>
  {{ partial "disqus.html" . }}
  
{{ end }}
