{{ define "css" -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/single.scss") | safeCSS) -}}
  {{- if in .Content "<pre class=\"chroma\">" -}}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/code.scss") | safeCSS) -}}
  {{ end }}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/landing.scss") | safeCSS) -}}
{{- end }}

{{ define "meta" }}

  {{- if (isset .Params "speakers") -}}
    {{ range $key, $author := .Params.speakers -}}
      {{- with $.Site.GetPage (print "/contributors/" $author) -}}
        <meta name="author" content="{{ .Params.fullname }}" />
      {{- end }}
    {{- end -}}
  {{- end -}}

  <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

  {{ $json := resources.Get .Params.json }}
  {{ $data := $json | transform.Unmarshal }}
  {{ $day := .Params.json_filter }}
  {{ $filtered := slice }}
  {{ range $data.talks }}
    {{ if eq .Date $day }}
      {{ $filtered = $filtered | append . }}
    {{ end }}
  {{ end }}
  {{ partial "landing-agenda-meta.html" (dict "talks" $filtered "pages" .Parent.Pages) }}

{{ end }}

{{ define "main" }}

<div class="landing text">

    <h1 class="landing__title">{{ .Title }}</h1>

    <div class="body">
      {{ partial "content.html" . }}
    </div>

    <h2 id="agenda">Agenda</h2>
    {{ partial "landing-agenda.html" (dict "mode" "day") }}

    <div class="video">
        {{ partial "video.html" . }} 
    </div>

</div>

<div class="landing">

    <h2 id="talks">Talks</h2>

    <div class="grid grid--2 event-card-grid">
        {{ range (where .Parent.Pages "Params.day" .Params.json_filter) }}
            <div class="grid__item">
                {{- partial "event-card" . -}}
            </div>
        {{ end }}
    </div>

    {{ if (isset .Params "speakers")}}
    <h2 id="speakers">Speakers</h2>
    <div class="grid grid--4 speakers">
        {{ range $key, $author := .Params.speakers }}
          {{ with $.Site.GetPage (print "/contributors/" $author) }}
            <div class="grid__item speaker">
               {{ partial "speakerpreview" (dict
                    "Link" .RelPermalink
                    "Name" .Params.fullname
                    "Image" (index .Params.images 0)
                    "Content" .Content
                    "Job" .Params.job
               ) }}
            </div>
          {{ end }}
        {{ end }}
    </div>
    {{ end }}

    <h2 id="days">Days</h2>

    <div class="grid grid--2 event-card-grid">
        {{ range (where .Parent.Pages "Params.layout" "landing-day").ByWeight }}
            <div class="grid__item">
                {{- partial "event-card" . -}}
            </div>
        {{ end }}
    </div>

</div>

<br/><br/>
{{ partial "sharing.html" . }}
<br/><br/>

{{ end }}
