{{ define "css" -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/single.scss") | safeCSS) -}}
  {{- if in .Content "<pre class=\"chroma\">" -}}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/code.scss") | safeCSS) -}}
  {{ end }}

  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/landing.scss") | safeCSS) -}}
{{- end }}

{{ define "meta" }}
  {{- if (isset .Params "speakers") -}}
    {{ range $key, $author := .Params.speakers -}}
      {{- with $.Site.GetPage (print "/contributors/" $author) -}}
        <meta name="author" content="{{ .Params.fullname }}" />
      {{- end }}{{ if $key }}, {{ end -}}
    {{- end -}}
  {{- end -}}

  <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

  {{ $Talks := resources.Get .Params.csv | transform.Unmarshal }}

  {{ range $i, $r := $Talks }}{{ if ge $i 1 }}
    <meta type="talk" title="{{ index $r 0 }}" speaker1="{{ index $r 1 }}" company1="{{ index $r 2 }}" speaker2="{{ index $r 4 }}" company2="{{ index $r 5 }}" time="{{ index $r 9 }}" />
  {{ end }}{{ end }}
{{ end }}

{{ define "main" }}

{{ $Talks := resources.Get .Params.csv | transform.Unmarshal }}

<div class="landing text">
  
    <h1>{{ .Title }}</h1>

    <div class="body">
      {{ partial "content.html" . }}
    </div>

    <h2 id="days">Days</h2>

    <div class="grid grid--3">
        {{ range where $.Site.Pages "Params.layout" "landingDay" }}
            <div class="grid__item">
                {{- if isset .Params "images" -}}
                    {{- partial "talkpreview" (dict "Link" .RelPermalink "Title" .Title "Image" (index .Params.images 0) "Content" .Params.description ) -}}
                {{- else -}}
                    {{- partial "talkpreview" (dict "Link" .RelPermalink "Title" .Title "Content" .Params.description) -}}
                {{- end -}}
            </div>
        {{- end -}}
    </div>

    <h2 id="agenda">Agenda</h2>

    <div class="video">
        {{ partial "video.html" . }} 
    </div>

    {{ if (isset .Params "speakers")}}
    <h2>Speakers</h2>
    <div class="grid grid--4 speakers">
        {{ range $key, $author := .Params.speakers }}
          {{- with $.Site.GetPage (print "/contributors/" $author) -}}
            <div class="grid__item speaker">
               {{- if isset .Params "images" -}}
                    {{- partial "speakerpreview" (dict "Link" .RelPermalink "Name" .Params.fullname "Image" (index .Params.images 0) "Content" .Content "Job" .Params.job) -}}
                {{- else -}}
                    {{- partial "speakerpreview" (dict "Link" .RelPermalink "Name" .Params.fullname "Content" .Content "Name" .Params.full_name) -}}
                {{- end -}}
            </div>
          {{- end }}
        {{ end }}
    </div>
    {{ end }}

</div>

<div class="contentblock">

    <h2 id="talks">Talks</h2>

    <div class="grid grid--2">
        {{- $pages := .Pages -}}
        {{- $paginator := .Paginate $pages }}
        {{- range $paginator.Pages -}} 
            <div class="grid__item">
                {{- if isset .Params "images" -}}
                    {{- partial "talkpreview" (dict "Link" .RelPermalink "Title" .Title "Image" (index .Params.images 0) "Content" .Params.description ) -}}
                {{- else -}}
                    {{- partial "talkpreview" (dict "Link" .RelPermalink "Title" .Title "Content" .Params.description) -}}
                {{- end -}}
            </div>
        {{- end -}}
    </div>
    {{- if gt $paginator.TotalPages 1 -}}
    <div class="paginator">
        {{- if $paginator.HasPrev -}}
            <a href="{{ $paginator.Prev.URL }}" rel="prev">&laquo;</a>
        {{- end -}}
        {{- range $paginator.Pagers -}}
            <a href="{{ .URL }}"{{ if eq . $paginator}}class="active"{{end}}>{{ .PageNumber }}</a>
        {{- end -}}
        {{- if $paginator.HasNext -}}
            <a href="{{ $paginator.Next.URL }}" rel="next">&raquo;</a>
        {{- end -}}
    </div>
    {{- end -}}

</div>

<br/><br/>
{{ partial "sharing.html" . }}
<br/><br/>

{{ end }}
