{{ define "css" -}}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/single.scss") | safeCSS) -}}
  {{- if in .Content "<pre class=\"chroma\">" -}}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/code.scss") | safeCSS) -}}
  {{ end }}
  {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/bio.scss") | safeCSS) -}}
{{- end }}

{{ define "main" }}
  <article class="event text{{ if not $.PublishDate}} text--simple{{ end }}"{{ if $.PublishDate }} itemscope itemtype="https://schema.org/BlogPosting"{{ end }}>
    {{ if $.PublishDate }}
      {{ with .Params.images }}<meta itemprop="image" content="{{ (resources.Get (index . 0)).Permalink }}" />{{ end }}
      <meta itemprop="mainEntityOfPage" content="{{ .Permalink }}" />
      {{ with .Params.tags}}<meta itemprop="keywords" content="{{ delimit . ", " }}" />{{ end }}
    {{ end }}

    <h1{{ if $.PublishDate }} itemprop="name headline"{{ end }}>{{ .Title }}</h1>
    {{ if $.PublishDate }}
      <div class="meta">
        {{- if (isset .Params "speakers") -}}
        <span class="authors">Speakers:&nbsp;
             {{ range $key, $author := .Params.speakers -}}
              {{- with $.Site.GetPage (print "/contributors/" $author) -}}
                {{ if $key }}, {{ end -}}
                <a href="{{ .RelPermalink }}">{{- .Params.fullname -}}</a>
              {{- end }} 
            {{- end -}}
        </span>
        {{- end -}}
      </div>
    {{ end }}

    {{ partial "sharing.html" . }}

    <div{{ if $.PublishDate }} itemprop="articleBody"{{ end }} class="body">
      {{ partial "content.html" . }}
      {{ partial "video.html" . }}  
    </div>

    <!-- Speaker Bios -->
    {{ if isset .Params "speakers" }}
      {{ partial "contributors-bios.html" . }}
    {{ end }}
 
  </article>

  {{ partial "sharing.html" . }}
  
  <div class="recommendations branded">
    <h2>Take a look at our events</h2>
    {{ $recommendationCount := 3 }}
    <div class="grid grid--{{ $recommendationCount }}">
        {{- $recommendations := first 0 (where $.Page.Site.RegularPages "Section" "events") }}
        {{- if isset .Params "recommendations" -}}
          {{ range $key, $recommendation := .Params.recommendations -}}
            {{- with $.Site.GetPage $recommendation -}}
              {{- $recommendations = $recommendations | append . -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}

        {{- $missingPosts := sub $recommendationCount (len $recommendations) }}
        {{- $fromDate := time "2025-01-01" }}
        {{- range first $missingPosts (where (where $.Page.Site.RegularPages "Section" "events") "Date" "ge" $fromDate) }}
          {{- $recommendations = $recommendations | append . -}}
        {{- end -}}

      {{- range $recommendations -}}
        <div class="grid__item">
          {{- partial "event-preview" . -}} 
        </div>
      {{- end -}}
    </div>
  </div>
{{ end }}
