
<section class="hub-hero hub-hero--photo hub-hero--compact" aria-labelledby="el-hero-heading">
  <div class="hub-hero__media" aria-hidden="true">
    {{ partial "hero-bg-image.html" (dict "page" . "class" "hub-hero__image" "width" 1600) }}
    <div class="hub-hero__gradient" aria-hidden="true"></div>
  </div>

  {{ partial "hub-triangle.html" (dict
    "path" "hub/icons/hero-triangle.svg"
    "class" "hub-hero__triangle"
    "width" 476
    "height" 625
  ) }}

  <div class="hub-hero__inner">
    <div class="hub-hero__copy">
      <h1 class="hub-hero__title" id="el-hero-heading">
        <span class="hub-hero__accent">Events</span> &amp;<br>
        Learning
      </h1>
      {{ with .Params.description }}
        <p class="hub-hero__subtitle">{{ . }}</p>
      {{ end }}
    </div>
  </div>
</section>
