{{ define "title" -}}{{ .Params.fullname }} | {{ .CurrentSection.Title }} | {{ .Site.Title }}{{ end }}

{{ define "css" -}}
    {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/speakers.scss") | safeCSS) -}}
    {{- if in .Content "<pre class=\"chroma\">" -}}
        {{- .Page.Scratch.Add "css" (partial "scss" (dict "file" "scss/code.scss") | safeCSS) -}}
    {{ end }}
{{- end }}

{{ define "mainwrapper" }}
    <div class="hero hero--bio"><div class="contentblock">
        {{- with .Params.images -}}
            <img class="avatar" src="{{ ((resources.Get (index . 0)).Fill "240x240 90% jpg").Permalink}}" alt="{{ $.Params.avatar_alt }}" />
        {{- end -}}

        <h1>{{ .Params.fullname }}</h1>



        <p>

        {{ if .Params.job }}<i>{{ .Params.job }}</i><br/><br/>{{ end }}

        {{ if .Params.social.linkedin }}
            <a style="float: left;" href="{{ .Params.social.linkedin }}" target="_blank"><img  style="float: left; margin: 0 0.5em 0 0 ;" width="30px" height="30px" src="data:image/svg+xml;base64,{{ (resources.Get "icon-linkedin.svg").Content | base64Encode}}" alt="{{ .Params.fullname }} LinkedIn" /> Linkedin </a>
        {{ end }}
        {{ if .Params.social.twitter }}
            <a  style="float: left;" href="{{ .Params.social.twitter }}" target="_blank"><img  style="float: left; margin: 0 0.5em 0 1em ;" width="30px" height="30px" src="data:image/svg+xml;base64,{{ (resources.Get "icon-twitter.svg").Content | base64Encode}}" alt="{{ .Params.fullname }} Twitter" /> Twitter </a>
        {{ end }}
        {{ if .Params.social.github }}
            <a  style="float: left;" href="{{ .Params.social.github }}" target="_blank"><img  style="float: left; margin: 0 0.5em 0 1em ;" width="30px" height="30px" src="data:image/svg+xml;base64,{{ (resources.Get "icon-github.svg").Content | base64Encode}}" alt="{{ .Params.fullname }} GitHub" /> GitHub </a>
        {{ end }}
        </p><br/><br/>
        <p style="float: left;">
        {{- .Content -}}
        <p>
    </div></div>

    <div class="contentblock">
        <div class="grid grid--3">
            {{- $speaker_name := .Params.name -}}
            {{- range $.Page.Site.RegularPages -}}
                {{ if (isset .Params "speakers")}}
                    {{ if in .Params.speakers $speaker_name }}  
                        <div class="grid__item">
                            {{- if isset .Params "podbean_link" -}}
                                {{- partial "podcastpreview" . -}}
                            {{- else -}}
                                {{- if isset .Params "images" -}}
                                    {{- partial "talkpreview" (dict "Link" .RelPermalink "Title" .Title "Image" (index .Params.images 0) "Content" .Content) -}}
                                {{- else -}}
                                    {{- partial "talkpreview" (dict "Link" .RelPermalink "Title" .Title "Content" .Content) -}}
                                {{- end -}}
                            {{- end -}}
                        </div>
                    {{ end }}
                {{ end }}
            {{- end -}}
        </div>

        {{ partial "sharing.html" . }} 

        {{ partial "disqus.html" . }}
    </div>
{{ end }}
