<table class="contribute-mongodb table">
    <thead>
      <tr>
        <th scope="col">How can you help:</th>
        <th scope="col">Looking to submit a PR and contribute code:</th>
        <th scope="col">Looking to report a bug:</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">Interested in contributing directly to <b>Percona Server for MongoDB</b>?</td>
            <td><a href="https://github.com/percona/percona-server-mongodb">GitHub: Percona Server for MongoDB</a></td>
            <td><a href="https://jira.percona.com/projects/PSMDB/issues/PSMDB-682?filter=allopenissues">Jira: Percona Server for MongoDB</a></td>
        </tr>
        <tr>
            <td scope="row">Interested in making MongoDB work better in <b>Kubernetes</b>?  Help out with our Operator!</td>
            <td><a href="https://github.com/percona/percona-server-mongodb-operator">GitHub: Percona Operator for MongoDB</a></td>
            <td><a href="https://jira.percona.com/projects/K8SPSMDB/issues/K8SPSMDB-439?filter=allopenissues">Jira: Percona Operator for MongoDB</a></td>
        </tr>
        <tr>
            <td scope="row">Help us make a better backup for MongoDB by contributing to <b>Percona Backup for MongoDB</b></td>
            <td><a href="https://github.com/percona/percona-backup-mongodb">GitHub: Percona Backup for MongoDB</a></td>
            <td><a href="https://jira.percona.com/projects/PBM/issues/PBM-668?filter=allopenissues">Jira: Percona Backup for MongoDB</a></td>
        </tr>
        <tr>
            <td scope="row">Looking to enhance your ability to troubleshoot and monitor MongoDB? How about contributing to our <b>MongoDB Exporter</b>.</td>
            <td><a href="https://github.com/percona/mongodb_exporter">GitHub: MongoDB Exporter</a></td>
            <td><a href="https://jira.percona.com/projects/PMM/issues/PMM-8011?filter=allopenissues">Jira: MongoDB Exporter</a></td>
        </tr>
    </tbody>  
</table>