<table class="contribute-mysql table">
    <thead>
      <tr>
        <th scope="col">How can you help:</th>
        <th scope="col">Looking to submit a PR and contribute code:</th>
        <th scope="col">Looking to report a bug:</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">Eager to contribute directly to Percona Server for MySQL?</td>
            <td><a href="https://github.com/percona/percona-server">GitHub: Percona Server for MySQL</a></td>
            <td><a href="https://jira.percona.com/projects/PS/issues/PS-7757?filter=allopenissues">Jira: Percona Server for MySQL </a></td>
        </tr>
        <tr>
            <td scope="row">Help out with our Percona XtraDB Cluster!</td>
            <td><a href="https://github.com/percona/percona-xtradb-cluster">GitHub: Percona XtraDB Cluster</a></td>
            <td><a href="https://jira.percona.com/projects/PXC/issues/PXC-3026?filter=allopenissues">Jira: Percona XtraDB Cluster</a></td>
        </tr>
        <tr>
            <td scope="row">Backups are crucial for you? Suggest improving our Percona XtraBackup for MySQL Databases</td>
            <td><a href="https://github.com/percona/percona-xtrabackup">GitHub: Percona XtraBackup</a></td>
            <td><a href="https://jira.percona.com/projects/PXB/issues/PXB-2534?filter=allopenissues">Jira: Percona XtraBackup</a></td>
        </tr>
        <tr>
            <td scope="row">Want to boost MySQL work in Kubernetes? Contribute to Percona Distribution for MySQL Operator</td>
            <td><a href="https://github.com/percona/percona-xtradb-cluster-operator">GitHub: Percona Distribution for MySQL Operator</a></td>
            <td><a href="https://jira.percona.com/projects/K8SPXC/issues/K8SPXC-745?filter=allopenissues">Jira: Percona Distribution for MySQL Operator</a></td>
        </tr>
        <tr>
            <td scope="row">Help us to take to the next level database monitoring with MySQL Exporter</td>
            <td><a href="https://github.com/percona/mysqld_exporter">GitHub: MySQL Exporter</a></td>
            <td><a href="https://jira.percona.com/projects/PMM/issues/PMM-8011?filter=allopenissues">Jira: MySQL Exporter</a></td>
        </tr>
        <tr>
            <td scope="row">Know how to simplify database operations? Support Percona Toolkit</td>
            <td><a href="https://github.com/percona/percona-toolkit">GitHub: Percona Toolkit</a></td>
            <td><a href="https://jira.percona.com/projects/PT/issues/PT-1887?filter=allopenissues">Jira: Percona Toolkit</a></td>
        </tr>
    </tbody>  
</table>

