<table class="contribute-mysql table">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td scope="row">Percona Website</td>
            <td><a href="https://www.percona.com/software/database-tools/percona-monitoring-and-management">Percona Monitoring and Management (PMM)</a></td>
        </tr>
        <tr>
            <td scope="row">Never tried to use PMM? View the demo.</td>
            <td><a href="https://pmmdemo.percona.com/">PMM demo</a></td>
        </tr>
        <tr>
            <td scope="row">Ready to try? Install it now!</td>
            <td><a href="https://www.percona.com/software/pmm/quickstart">PMM Quick Start</a></td>
        </tr>
        <tr>
            <td scope="row">Inform us about a bug or feature you lack by opening a Jira ticket.</td>
            <td><a href="https://perconadev.atlassian.net/projects/PMM/issues">Jira: PMM</a></td>
        </tr>
        <tr>
            <td scope="row">Contribute directly to PMM</td>
            <td><a href="https://github.com/percona/pmm">GitHub: PMM</a></td>
        </tr>
        <tr>
            <td scope="row">PMM Forum</td>
            <td><a href="https://forums.percona.com/c/percona-monitoring-and-management-pmm/30/none">Community Forum</a></td>
        </tr>
    </tbody>  
</table>
