<table class="contribute-toolkit table">
    <thead>
        <th scope="col">HOW CAN YOU HELP</th>
        <th scope="col">USEFUL LINKS</th>
    </thead>
    <tbody>
        <tr>
            <td scope="row">Found a bug? Open a Jira ticket! </td>
            <td><a href="https://perconadev.atlassian.net/projects/PT/issues/">Jira: Percona Toolkit</a></td>
        </tr>
        <tr>
            <td scope="row">Have questions or want to share your knowledge and give a helping hand to others? Visit the Community Forum</td>
            <td><a href="https://forums.percona.com/c/polyglot-projects/percona-toolkit/13">Forum: Percona Toolkit</a></td>
        </tr>
        <tr>
            <td scope="row">Help us improve Percona Toolkit by contributing directly to it</td>
            <td><a href="https://github.com/percona/percona-toolkit">GitHub: Percona Toolkit</a></td>
        </tr>
        <tr>
            <td scope="row">Want to learn more? Check out our documentation</td>
            <td><a href="https://www.percona.com/doc/percona-toolkit/LATEST/index.html">Documentation</a></td>
        </tr>
    </tbody>  
</table>










