<div class="youtubeList__container">
<div class="youtubeList__img">
    <a href="https://youtu.be/{{ .Get "youtube_id" }}" class="youtube__img" target="_blank"><img width="180px" src="https://img.youtube.com/vi/{{ .Get "youtube_id" }}/hqdefault.jpg" alt="" /></a>
</div>
<div class="youtubeList__text">
<p class="youtubeList__title"><a href="https://youtu.be/{{ .Get "youtube_id" }}" class="" target="_blank">{{ .Get "title" }}</a></p>
<p class="youtubeList__authors">{{ .Get "authors" }} - {{ .Get "date" }}{{ .Inner }}</p>
</div>
</div>