{{ $copy := partial "videos-hub/hero-copy.html" . }}
{{ $page := . }}
{{ if .page }}{{ $page = .page }}{{ end }}

<section class="hub-hero hub-hero--photo hub-hero--compact" aria-labelledby="el-videos-hub-heading">
  <div class="hub-hero__media" aria-hidden="true">
    {{ partial "hero-bg-image.html" (dict "page" $page "class" "hub-hero__image" "width" 1600) }}
    <div class="hub-hero__gradient" aria-hidden="true"></div>
  </div>

  {{ partial "hub-triangle.html" (dict
    "path" "hub/icons/hero-triangle.svg"
    "class" "hub-hero__triangle"
    "width" 476
    "height" 625
  ) }}

  <div class="hub-hero__inner">
    <div class="hub-hero__copy">
      <h1 class="hub-hero__title" id="el-videos-hub-heading">
        <span class="hub-hero__accent">Videos</span>
      </h1>
      {{ with $copy.description }}
        <div class="hub-hero__subtitle">{{ . | markdownify }}</div>
      {{ end }}
    </div>
  </div>

</section>
