name: Build and Deploy
on:
  pull_request:
    branches-ignore:
      - gh-pages
  push:
    branches-ignore:
      - gh-pages
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v2

      - name: Checkout gh-pages
        uses: actions/checkout@v2
        if: github.ref == 'refs/heads/main'
        with:
          ref: gh-pages
          path: public

      - name: Cache resources
        uses: actions/cache@v1
        with:
          path: resources
          key: hugo-resources
          restore-keys: hugo-resources

      - name: Cache hugo deb
        uses: actions/cache@v1
        with:
          path: /tmp/hugo.deb
          key: hugo-deb
          restore-keys: hugo-deb

      - name: Setup hugo
        run: |
          set -euo pipefail
          if [ ! -f /tmp/hugo.deb ]; then
            wget https://github.com/gohugoio/hugo/releases/download/v0.81.0/hugo_extended_0.81.0_Linux-64bit.deb -O /tmp/hugo.deb
          fi
          sudo dpkg -i /tmp/hugo.deb

      - name: Build
        run: hugo --minify

      - name: Deploy
        if: github.ref == 'refs/heads/main'
        run: |
          set -euo pipefail
          cd public
          git config user.name "GitHub Actions"
          git config user.email noreply@github.com
          git add .
          if ! git diff-index --quiet HEAD --; then
            git commit -m "Website publish"
            git push --set-upstream --force origin gh-pages
          else
            echo -e "No changes found."
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
