.blue-linear {
    background: #232832;
    background: linear-gradient(171.89deg, #232832 -5.91%, #0070D8 97.54%);
}

.dark {
  background: linear-gradient(135.94deg,rgba(0,22,43,0.55) 39.63%,rgba(53,35,76,0.55) 99.19%),linear-gradient(180deg,#00162B 0%,#008E7C 31.77%,#00162B 67.19%,#A86FEF 100%);
}

.blue-yellow {
  background: linear-gradient(0deg,#E8ECF3,#E8ECF3),linear-gradient(155.02deg,#472F65 12.31%,#906B20 86.51%);
  background-blend-mode: multiply;
}

.gray-blue {
  background: linear-gradient(168.28deg,#232832 35.64%,#5F3E86 100.45%);
  mix-blend-mode: normal;
}

.dark-purlple {

  color: $hero-text; 

  a {
    color: $link-orange;
    text-decoration-color: $link-orange;
  }

  background: linear-gradient(180deg,#35234C 0%,#232832 100%);

}

.blue {

  color: $light; 

  background: linear-gradient(272.68deg,#00396F 12.61%,#0070D8 90.99%);
  background-blend-mode: multiply,multiply,normal;

  a {
    color: $light;  
    text-decoration-color: $light;

    &:hover, &:visited:hover {
      color: $hero-text;
      text-decoration-color: $hero-text;
    }
  }
}

.night {
  background-color: $night;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background: linear-gradient(168.7deg, #00162b 19.55%, #006a5d 110.59%);
  background-blend-mode: overlay, darken, normal;
    
  color: $hero-text; 

  a {
    color: $hero-text;
    text-decoration-color: $hero-text;

    &:hover, &:visited:hover {
      color: $light;
      text-decoration-color: $light;
    }
  }

}

.aqua {

    background-color: $aqua;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background: linear-gradient(168.7deg,#006A5D -2.9%,#00162B 110.59%);
    background-blend-mode: darken;

    color: $light; 

    a {
      color: $light; 
      text-decoration-color: $light; 

      &:hover, &:visited:hover {
        color: $link-hover;
        text-decoration-color: $link-hover;
      }
    }
}
