@import "base";
@import "variables";

.edit-on-github {
  font-size:0.8rem;
  text-align:right;
  padding-top: 1.5rem;
  .container {
    @include container;
  }
  a {
    background-color: $palette1;
    color: $palette3;
    text-decoration:none;
    display:inline-block;
    border-top-left-radius: 0.5rem;
    border-top-right-radius:0.5rem;
    padding-left:0.5rem;
    padding-right:0.5rem;

    &:hover {
      color: $palette3;
      background-color: $palette2;
    }
  }
}