@import "base";
@import "variables";

.edit-on-github {
  font-size:0.8rem;
  text-align:right;
  .container {
    @include container;
  }
  a {
    background-color: $color-footer-top;
    color: $color-background-footer-light;
    text-decoration:none;
    display:inline-block;
    border-top-left-radius: 0.5rem;
    border-top-right-radius:0.5rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
    transition: 0.2s background-color ease-in-out;
    &:hover {
      color: $color-background-footer-light;
      background-color:$color-hero-background;
    }
  }
}