@import "base";
@import "variables";
@import "menu";

footer.page {

  margin-top:1.5rem;

  h2 {
    font-size:1rem;
  }
}

.footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media not print {
  footer.page {
    margin-top: 1.5rem/2;
    padding-top: 1.5rem/2;
    padding-bottom: 1.5rem/2;
  }

  .page-footer {
    @include container;
    font-size: 12px;
    line-height: 1.5rem;

    ul {
      margin-bottom:1.5rem;
    }


    nav ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 0;
      height:1.5rem;
      line-height:0.5rem;

      a {
        color: $light;
        text-decoration: none;
        height:1.3rem;
        line-height:1.3rem;
        text-align:center;
        display: block;
        padding-left:0.75rem;
        padding-right:0.75rem;

        &:visited {
          color: $link;
        }

        &:hover {
          color: $palette1;
          border-bottom: 0;
        }

        @media (min-width: 768px) {
          padding-left:1.5rem;
          padding-right:1.5rem;
        }
      }
    }
  }
}
@media print {
  footer.page {
    nav {
      display:none;
    }

    aside {
      border-top:0.2rem solid $dark;
      margin-top:0.65rem;
      padding-top:0.65rem;
    }
  }
}

footer.page {
  border-top:2px solid #aab7cf;
  margin-top:-2px;
  aside {
    text-align: center;
    font-size: 0.6rem;
    line-height: 1.5rem;
    color: #aab7cf;
  }
}

@media screen {
  footer.page {
    background-color: $header-color;
  }
  .page-footer {

  }
}


@media  screen and (max-width: 570px) {
  footer.page{
    aside{
        margin-top: 10%;
    }
  }
}

@media  screen and (max-width: 370px) {
  footer.page{
    aside{
        margin-top: 20%;
    }
  }
}