.youtubeList__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin-bottom:1.5rem;

  .youtubeList__img {
    margin-right: 1rem;
  }
}

.grid {
  display: grid;
  &--2 {
    grid-template-columns: 1fr 1fr;
  }
  &--3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &--4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  gap: 1.5rem 1.5rem;

  font-size:0.9rem;
  margin-bottom:1.5rem;
  margin-top:1.5rem;

  img {
    max-width:100%;
  }

  h2 {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom:0.75rem;
  }

  p {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: normal;
    margin-bottom:0.75rem;
  }

  ul {
    margin-left: 1rem;
    li {list-style-type: disc;}
  }
}

@media (max-width: 768px) {
  .grid__item {
    margin-bottom:1rem;
  }

  .grid--2 {
    display: block;
  }
}

@media (max-width: 1200px) {
  .grid--3 {
    display: block;
  }
}

@media (max-width: 1200px) {
  .grid--4 {
    display: block;
  }
}


.grid-links {
  display: grid;
  &--2 {
    grid-template-columns: 1fr 1fr;
  }
  &--3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &--4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  gap: 1.5rem 1.5rem;

  font-size:0.9rem;
  margin-bottom:1.5rem;
  margin-top:1.5rem;

  img {
    max-width:100%;
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom:0.75rem;
  }

  p {

    margin-bottom:0.75rem;
  }

  ul {
    margin-left: 1rem;
    li {list-style-type: disc;}
  }
}

@media (max-width: 768px) {
  .grid-links--2 {
    display: block;
  }
}

@media (max-width: 1000px) {
  .grid-links--3 {
    display: block;
  }
}

@media (max-width: 1000px) {
  .grid-links--4 {
    display: block;
  }
}
