@import "typography";
@import "menu";

$mobile-breaking-point: 1000px;

header {
  background-color: $header-color;
}

.page-header {
  @include menu;

  a {
    display: block;
    border-bottom-width: 0.2rem;
    font-weight: normal;
    font-size: 0.80rem;
  }

  .logo {
    z-index:6;
    font-size: 1.2rem;
    font-weight: bold;
    font-variant: small-caps;

    a {
      margin-top: 0.7rem;
      text-decoration: none;
      display: block;
      border: none;

      &:visited {
        border: none;   
      }
    }
  }
}

#show-mobile-menu {
  display:none;
}

.mobile-toggle {
  display:none;
}

@media screen and (max-width: $mobile-breaking-point - 1) {
  header.page {
    box-shadow: 0 0 3px 0 rgba(168, 168, 168, .5);
  }

  .logo a {
    position:absolute;
  }
  .page-header {
    justify-content: space-between;
    z-index:1;
    a {
      border-bottom-width: 0;
    }
  }
  .hamburger-bar {
    height:0.2rem;
    background: $light;
    margin-top:0.2rem;
    display:block;
  }
  #show-mobile-menu + .mobile-toggle + .mobile-menu nav {
    background: $header-color;
  }
  #show-mobile-menu + .mobile-toggle {
    .hamburger-bar {
      transform:translateY(0) rotate(0deg);
      opacity: 1;
      transition: transform $transition-length ease-in-out, opacity $transition-length ease-in-out;
    }
  }
  #show-mobile-menu:checked + .mobile-toggle {
    position:fixed;
    right:$padding-right-page;
    .hamburger-bar:nth-of-type(1) {
      transform:translateY(0.4rem) rotate(315deg);
    }
    .hamburger-bar:nth-of-type(2) {
      opacity:0;
    }
    .hamburger-bar:nth-of-type(3) {
      transform:translateY(-0.4rem) rotate(405deg);
    }
  }

  .mobile-toggle {
    cursor: pointer;
    display: block;
    width:1.2rem;
    height:1rem;
    z-index:5;
    margin-top:0.75rem;
    label, .hamburger-bar {
      cursor: pointer;
    }
  }
  .mobile-menu {
    overflow:hidden;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:100vh;
    opacity:0;
    background:rgba(0,0,0,0.5);
    transition: opacity $transition-length ease-in-out, border-bottom-color $transition-length ease-in-out;
  }
  #show-mobile-menu:checked + .mobile-toggle + .mobile-menu {
    opacity:1;
    bottom:0;
  }

  .hide-mobile-menu {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:2;
  }

  .mobile-menu nav {
    box-sizing: border-box;
    max-height:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index:3;
    font-size:1rem;
    line-height:3rem;
    padding: 3rem $padding-right-page 1.5rem $padding-left-page;
    display: flex;
    flex-direction: column;

    header {
      display: flex;
      flex-direction: row;
      font-size:inherit;
      line-height:inherit;
      h1 {
        margin-top:0;
        font-size: 1.2rem;
        line-height: 1.5rem;
        flex: 1;
        font-variant: small-caps;
      }
      .hide-mobile-menu-aria {
        display:block;
        z-index:10;
        height:1.5rem;
        width:1.5rem;
      }
    }

    ul {
      overflow-y:scroll;
      flex:1;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none;  /* IE 10+ */
      &::-webkit-scrollbar {
        width: 0;
        background: transparent; /* make scrollbar transparent */
      }
    }

    a {
      font-weight: bold;
      font-size: 1rem;
    }
    
    a:hover{
      border-bottom: 0;
      margin-bottom:0;
    }
  }
}

@media screen and (min-width: $mobile-breaking-point) {
  .page-header {

    .mobile-toggle {
      display: none;
    }

    .mobile-menu {
      flex: 1;
    }

    nav {
      flex: 1;
    }

    nav header {
      display:none;
    }

    ul {
      list-style-type: none;
    }

    nav ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: row;
    }

    nav li {
      padding-right: 1.5rem;
    }

    nav li.active a {
      border-bottom-width: 3px;
      border-bottom-color: $palette2;
    }
  }
}

@media screen {
  .page-header {
    position: relative;
    max-width: $width-max;
    margin-left: auto;
    margin-right: auto;

    padding-left: $padding-left-page;
    padding-right: $padding-right-page;
    height: $height-header;

    display: flex;
    flex-direction: row;
  }
}

@media print {
  header.page {
    display:none;
  }
}

@media screen and (max-width: $mobile-breaking-point - 1) and (prefers-reduced-motion: reduce) {
  .mobile-menu {
    transition: none;
  }
  #show-mobile-menu + .mobile-toggle {
    .hamburger-bar {
      transition: none;
    }
  }
}

@media screen and (max-width: $mobile-breaking-point - 1) and (prefers-reduced-transparency: reduce) {
  .mobile-menu {
    background: rgb(128,128,128);
  }
}

.page-header nav li {
  position: relative;
}

.page-header nav li:hover ul.submenu__list {
  display: flex;
  z-index: 999;
}

.page-header nav ul.submenu__list {
    display: none;
    flex-direction: column;
    background: $header-color;
    position: absolute;
    left: 0;
    border-top: 1px solid #aab7cf;
}

.page-header nav ul.submenu__list li {
    padding: 0 20px;
}

.page-header nav ul.submenu__list li a {
  white-space: nowrap;
}

@media (max-width: 768px) {
    .page-header nav ul.submenu__list {
        display: flex;
        position: static;
    }

    .page-header nav ul.submenu__list li a {
        font-weight: 400;
    }
}

.percona-ca a {
    padding: 12px 19px;
    background: #00bda5;
    border-radius: 100px;
    line-height: 1;
    height: 20px;
    font-weight: 600;
    border-bottom: none;
}

.percona-ca a:hover {
    background: #fff;
    color: #00bda5;
    border-bottom: none;
}
