@import "variables";


.hero {

  .contentblock {
      padding-top: 2rem;
      padding-bottom: 2rem;
  }

}

.hero-text {
    font-family: $font-sans;
    text-align: center;
    padding: 0 5%;

    h1 {
      font-size: 3.2rem;
      line-height: 1em;
      font-weight: 400;
    }

    p {
      font-size: 1rem;
      margin-top: 1.5rem;
    }

    p:first-child {margin-top: 0;}

    small {font-size: 0.8rem;}

    &.opaque {
      background: rgba(0,0,0,0.95);
      color: $light;
    }
  
  @media screen and (max-width: 760px) {

    text-align: left;

    h1 {
      font-size: 2.5rem;
      line-height: 1em;
    }

  }  
}

.aqua {

    background-color: $aqua;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background: linear-gradient(168.7deg,#006A5D -2.9%,#00162B 110.59%);
    background-blend-mode: darken;

    color: $light; 

    a {
      color: $light; 
      text-decoration-color: $light; 

      &:hover, &:visited:hover {
        color: $link-hover;
        text-decoration-color: $link-hover;
      }
    }
}

.blue-yellow {
  background: linear-gradient(0deg,#E8ECF3,#E8ECF3),linear-gradient(155.02deg,#472F65 12.31%,#906B20 86.51%);
  background-blend-mode: multiply;
}

.gray-blue {
  background: linear-gradient(168.28deg,#232832 35.64%,#5F3E86 100.45%);
  mix-blend-mode: normal;
}

.dark-purlple {

  color: $hero-text; 

  a {
    color: $link;
    text-decoration-color: $link;
  }

  background: linear-gradient(180deg,#35234C 0%,#232832 100%);
}

.night {
  background-color: $night;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background: linear-gradient(168.7deg, #00162b 19.55%, #006a5d 110.59%);
  background-blend-mode: overlay, darken, normal;
    
  color: $hero-text; 

  a {
    color: $hero-text;
    text-decoration-color: $hero-text;

    &:hover, &:visited:hover {
      color: $light;
      text-decoration-color: $light;
    }
  }

}

.dark {
  background: linear-gradient(135.94deg,rgba(0,22,43,0.55) 39.63%,rgba(53,35,76,0.55) 99.19%),linear-gradient(180deg,#00162B 0%,#008E7C 31.77%,#00162B 67.19%,#A86FEF 100%);
}

.blue {

  color: $light; 

  background: linear-gradient(272.68deg,#00396F 12.61%,#0070D8 90.99%);
  background-blend-mode: multiply,multiply,normal;

  a {
    color: $light;  
    text-decoration-color: $light;

    &:hover, &:visited:hover {
      color: $hero-text;
      text-decoration-color: $hero-text;
    }
  }
}

.hero-old {
  background-color: $palette2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $light;
  h1 {
    margin-bottom:1.5rem;
    line-height: 2.5rem;
  }

  h2 {
    margin-top: 1rem;
    margin-bottom:1rem;
  }

  h2 {
    margin-top: 1rem;
    margin-bottom:1rem;
  }

  a {
    color: $light;
    font-weight: bold;
    border-bottom: 2px solid $palette2;
    text-decoration: none;
    transition:color $transition-length ease-out, border-bottom-color $transition-length ease-out;
    &:hover, &:visited:hover {
      color: $light;
      border-bottom-color: $palette1;
    }
  }

  figure {
    @media screen and (max-width: 767px) {
      position:relative;
      text-align: center;
    }
  }

  img {
    float:left;
    margin-right:1.5rem;
    max-width:100%;
    @media screen and (max-width: 767px) {
      float:none;
      margin-left:auto;
      margin-right:auto;
      display:block;
    }
  }

  h2 + p + figure img {
    position:relative;
    top:-3rem;
    @media screen and (max-width: 767px) {
      top:0;
    }
  }

  &:nth-child(4n+2), &:nth-child(4n+4) {
    img {
      float:right;
      margin-right:0;
      margin-left:1.5rem;
      @media screen and (max-width: 767px) {
        float:none;
        margin-left:auto;
        margin-right:auto;
      }
    }
    background-color: transparent;
    color: $dark;
    a {
      color: $dark;
      &:hover {
        color: $dark;
      }
    }
  }
  &:nth-child(4n+3) {
    background-color: $palette1;
  }

  &--bio {
    .contentblock {
      text-align: center;
      img {
        text-align:center;
        float:none;
        margin-bottom:1.5rem;
      }
      p {
        text-align:left;
      }
    }
  }
  @media (min-width: 769px) {
    &--bio {
      .contentblock {
        min-height: 240px;
        text-align:left;

        img {
          float: right;
          margin-left: 1.5rem;
          margin-bottom:0;
        }
      }
    }
  }
}

.herotext-old {
    font-size: 1.2rem;
    background: rgba(0,0,0,0.7);
    padding: 1.5rem;
    p {margin-top: 1.5rem;}
    p:first-child {margin-top: 0;}
    small {font-size: 0.8rem;}
    border-radius: 0.75rem;
    &.opaque {
      background: rgba(0,0,0,0.95);
      color: $light;

      a {
        color: $light;   
      }
    }
}