@import "variables";

.hero {
  background-color: $palette2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $light;
  h1 {
    margin-bottom:1.5rem;
  }

  a {
    color: $dark;
    font-weight: bold;
    border-bottom: 2px solid $palette2;
    text-decoration: none;
    transition:color $transition-length ease-out, border-bottom-color $transition-length ease-out;
    &:hover, &:visited:hover {
      color: $dark;
      border-bottom-color: $palette1;
    }
  }

  img {
    float:left;
    margin-right:1.5rem;
  }

  &:nth-child(4n+2), &:nth-child(4n+4) {
    img {
      float:right;
      margin-right:0;
      margin-left:1.5rem;
    }
    background-color: transparent;
    color: $dark;
    a {
      color: $dark;
      &:hover {
        color: $dark;
      }
    }
  }
  &:nth-child(4n+3) {
    background-color: $palette1;
  }

  &--bio {
    .contentblock {
      text-align: center;
      img {
        text-align:center;
        float:none;
        margin-bottom:1.5rem;
      }
      p {
        text-align:left;
      }
    }
  }
  @media (min-width: 769px) {
    &--bio {
      .contentblock {
        min-height: 240px;
        text-align:left;

        img {
          float: right;
          margin-left: 1.5rem;
          margin-bottom:0;
        }
      }
    }
  }
}

.contentblock {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.herotext {
    font-size: 1.2rem;
    background: rgba(0,0,0,0.5);
    padding: 1.5rem;
    p {margin-top: 1.5rem;}
    p:first-child {margin-top: 0;}
    small {font-size: 0.8rem;}
    border-radius: 0.75rem;
}