@import "variables";

.hero {
  .contentblock {
      padding-top: 2rem;
      padding-bottom: 2rem;
  }
}

.hero-text {
    font-family: $font-sans;
    text-align: center;
    padding: 0 5%;

    h1 {
      font-size: 2.5rem;
      line-height: 1em;
      font-weight: 400;
    }

    p {
      font-size: 1rem;
      margin-top: 1.5rem;
    }

    p:first-child {margin-top: 0;}

    small {font-size: 0.8rem;}

    &.opaque {
      background: rgba(0,0,0,0.95);
      color: $light;
    }
  
  @media screen and (max-width: 760px) {
    text-align: left;

    h1 {
      font-size: 2rem;
      line-height: 1em;
    }
  }  
}

.homepage-hero {
    position: relative;
    .homepage-hero-icon {
      position: absolute;
      bottom: -3rem;
      right: 0rem;

      img {
        height: 320px;
        opacity: 0.4;

        @media screen and (max-width: 900px) {

          height: 200px;
        }
      }

      @media screen and (max-width: 760px) {

        display: none;
      }

    }

    font-family: $font-sans;
    color: #ffffff; 

    a {
      color: $link-orange;
      text-decoration-color: $link-orange;
    }

    margin-bottom: 2rem;

    h1 {
      font-size: 3rem;
      line-height: 1em;
      font-weight: 400;
    }

    p {
      width: 60%;
      font-size: 1rem;
      margin-top: 1.5rem;
    }

    p:first-child {margin-top: 0;}

    small {font-size: 0.8rem;}

    &.opaque {
      background: rgba(0,0,0,0.95);
      color: $light;
    }
  
    @media screen and (max-width: 760px) {

      p {
        width: 100%;
      }

      h1 {
        font-size: 2rem;
        line-height: 1em;
      }
    }  

    @media screen and (max-width: 960px) {

      h1 {
        font-size: 2rem;
        line-height: 1em;
      }
    }
}
