@import "variables";

@mixin menu {
  a {
    display:block;
    text-decoration: none;
    &, span {
      transition: color $transition-length ease-in-out, border-bottom $transition-length, margin-bottom $transition-length;
    }

    height:($height-header - ($height-menu-underline*2));
    line-height:($height-header - ($height-menu-underline*2));
    border-top: $height-menu-underline solid transparent;
    border-bottom: $height-menu-underline solid transparent;

    &:hover {
      color: $palette2;
      border-bottom: $height-menu-underline solid $palette2;
    }

    &:hover span {
      color: $palette2;
    }

    img {
      height:$height-header-img;
    }
  }
}

@mixin menu-color-light {
  a {
    color: $light;
    border-bottom: 0 solid $header-color;

    &:hover {
      color: $palette2;
      border-bottom-color: $palette4;
    }
    &:visited {
      color: $light;
    }
  }
}

.cmp-revoke-consent {
   bottom: 0px !important;
   left: 0px !important;
   position: relative !important;
   padding: 0px !important;
}
