@import "variables";

.paginator {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;

  a {
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    color: $dark;
    border: 1px solid $dark;
    transition:
      0.2s background-color ease-in-out,
      0.2s color ease-in-out,
      0.2s border-color ease-in-out;

    &:hover,
    &.active {
      background: $palette2;
      color: $palette3;
      border: 1px solid $palette2;
    }

    height: 1.5rem; // Уменьшение высоты
    width: 1.5rem; // Уменьшение ширины
    line-height: 1.5rem; // Уменьшение высоты строки
    font-size: 1rem; // Уменьшение размера шрифта
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
  }
}
