@import "variables";

.post--preview {
  display: block;
  border-radius: 0.3rem;
  padding-bottom:0.375rem;

  img {
    margin-bottom:0.375rem;
  }

  h2, h3, p {
    padding-left:0.5rem;
    padding-right:0.5rem;
  }

  :last-child {
    margin-bottom:0;
  }

  &:hover {
    box-shadow: 0 0 1.5rem #7f7f7f;
  }
}

a.post--preview, a.post--preview * {
  text-decoration: none;
  color: $dark;

  .readmore {
    font-weight: bold;
  }
}

.recommendations {
  margin-top: 2rem;
}

.text .grid h2 {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: .75rem;
    margin-top: 0rem;
    font-weight: 700;
}

.text .post__content  p {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
}

.text .post__content .readmore {
    font-weight: 700;
}

.comments {
  
  .comment {
    padding: 2em;
    background: #f5f5f5;
    border-radius: 3%;
    margin-bottom: 2em;

  }

  .info {
    margin-bottom: 2em;
  }

  .info a {
    font-size: 1.2em;
  }

  .info span {
    float: right;
    color: #9c98a8;
    font-style: italic;
  }
}
