@import "variables";

.text .post h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5em;
    margin: 0;
}

.post--preview {
  display: block;

  padding: 1rem;

  @media screen and (max-width: 760px) {
    padding: 1rem 0;
  }

  img {
    margin-bottom:0.375rem;
  }

  h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5em;
  }

  h2, h3, p {
  }

  :last-child {
    margin-bottom:0;
  }

  .post__content {
    margin-top: 1rem;

    p {
        color: #42536d;
        font-size: 14px;
        line-height: 1.5em;
        font-weight: 400;
    }

    .bottom {

      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        margin-bottom: 0;
        padding: 0;
        font-size: 12px;
        font-weight: 400;
        color: #8897b3;
      }

      .post-type {
        color: #00bda5;
        font-weight: 600;
      }

    }
  }

  &:hover {
    h3 {
      color: $link;
    }
  }

}

a.post--preview, a.post--preview * {
  text-decoration: none;
  color: $dark;

  .readmore {
    color: $link;
    font-weight: bold;
  }
}

.recommendations {
  margin-top: 2rem;
}

.text .grid h2 {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: .75rem;
    margin-top: 0rem;
    font-weight: 700;
}

.text .post__content  p {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
}

.text .post__content .readmore {
    font-weight: 700;
}

.comments {
  
  padding-top: 2em;
  font-family: $font-sans;

  h2 {
    color: $color-branded-h2; 
    padding-bottom: 1em;
  }

  .comment {
    padding: 2em;
    background: #f5f5f5;
    border-radius: 3%;
    margin-bottom: 2em;

  }

  .info {
    margin-bottom: 2em;
  }

  .info a {
    font-size: 1.2em;
  }

  .info span {
    float: right;
    color: #9c98a8;
    font-style: italic;
  }
}

.blog__featured {
  
  .grid {
    gap: 1.5rem 1rem;
  }

  .grid__item {
    position: relative;
    border-radius: 0.2rem ;
    background-color: #ffffff;
    padding-bottom: 35px;
  }

  img {
    display:block;
    border-radius: 0.2rem 0.2rem 0 0 ;
    margin-bottom: 0rem;
  }

  a.post--preview {
    border-radius: 0.2rem 0.2rem 0 0 ;
  }

  .post--preview {
    padding:0;
  }

  .post__text {
    padding: 1rem;
  }

  .post__content {
    margin-top: 0;

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.01em;
      color: #00162b;
    }
  }

  h3 {
    font-weight: 600;
    font-size: 21px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #00162b;
    padding-bottom: 12px;
  }

  .bottom {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 48px);
    left: 24px;

    p {
      color: #8897b3;
      padding: 0;
      font-size: 12px;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.01em;
    }
  }
}

.featured__wrapper {
  
  margin-top: 2.5rem;

  .featured__left, .featured__right {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
  }

  .title-wrap {
    font-size: 14px;
    font-weight: 600;
    color: #697793;
    padding: 0;
    border-bottom: 2px solid #e8ecf3;
    padding-bottom: 10px;
    margin-bottom: 20px;
    letter-spacing: 0.02em;
    display: block;
  }

  @media (max-width: 768px) {
    .featured__left {
      margin-bottom: 1rem;
    }
  }

}

.featured__one {

  .post--preview {
    display: block;
    padding: 0rem;

  }

  img {
    width: 100%;

    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
  }

  .post--preview h3 {
      font-size: 21px;
      font-weight: 600;
      line-height: 1.4;
      transition: all 0.3s ease-in-out;
  }

  position: relative;
  padding-bottom: 35px;

  .post__content {
    height: calc(100% - 320px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .bottom {
      bottom: 20px;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(100% - 48px);
    }
  }

}

.featured-grid-list-item:hover .featured-grid-list-inner .context h2 {
    color: $link !important;
}

.featured__list {

  .featured-grid-list-item {

    border-bottom: 1px solid #e8ecf3;
    padding-bottom: 15px;
    margin-bottom: 15px;

    &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }

  }

}

.featured-grid-list-inner {

    display: grid;
    gap: 0rem 0rem;
    grid-template-columns: 3fr 6fr;

    .thumbnail {

      height: 130px;
      border-radius: 4px;
      overflow: hidden;

      a {
        width: 100%;
        display: block;
        height: 100%;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .context {

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5px 20px;

      a {
        text-decoration: none;
        color: $dark;
      }

      h2 {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.4;
        transition: all 0.3s ease-in-out;
      }
    }

     .bottom {

      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      p {
        margin-bottom: 0;
        padding: 0;
        font-size: 12px;
        font-weight: 400;
        color: #8897b3;
      }

    }
}

.youtube__block {
  
  iframe {
    width: 715px;
    height: 400px;

    @media (max-width: 768px) {
      width: 320px;
      height: 180px;
    }
  }
}

.branded {

  .grid__item {
    position: relative;
  }

  .bottom {
      position: absolute;
      bottom: 0px;
      width: calc(100% - 48px);
  }
}

.documentation {
  
  margin-top: 2rem;
  margin-bottom: 2rem; 

  .link__wrapper {
    display: block;
  }

  h3 {
    font-size: 1rem;
    text-decoration: underline;
  }
  
  .grid__item {
    padding: 15px;
    box-shadow: 0px 0px 10px 4px rgba(0, 22, 43, 0.09);
    border-radius: 8px;
  }
}
