@import "variables";

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .tag {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.9em;
    text-decoration: none;
    color: #333;

    &:hover {
      background-color: #e1e1e1;
    }
  }
}

.blog-list {
  display: flex;
  flex-direction: row;
  
  .main-content {
    flex: 3;
    margin-right: 1.5rem;

    h2 {
      font-size: 24px;
      margin-bottom: 1rem; // Добавление отступа между заголовком "Latest articles" и списком постов
    }

    .post-list {
      list-style: none;
      padding: 0;

      .post-item {
        margin-bottom: 0.5rem; // Уменьшение отступа между постами
        border-bottom: 1px solid #e8ecf3;
        padding-bottom: 0.5rem;

        &:last-child {
          border-bottom: none;
        }
      }
    }

    .paginator {
      margin-top: 1rem;

      a {
        text-decoration: none;
      }

      .active {
        font-weight: bold;
      }
    }
  }

  .sidebar {
    flex: 1;
    background: #f7f7f7;
    padding: 1rem;

    h2 {
      margin-bottom: 1rem; // Добавление отступа между заголовком и тегами
      font-size: 24px;
    }

    .tag-list, .category-list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;

      li {
        line-height: 1;
      }

      .tag, .category {
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 12px; // Размер шрифта 12px
        text-decoration: none;
        color: #333;
        line-height: 1;

        &:hover {
          background-color: #e1e1e1;
        }
      }

    }

    .tag-list {
      gap: 5px; 
    }

    .category-list {
      margin-bottom: 1rem;
      gap: 10px; 

      .category {
        font-size: 14px;
      }
    }
  }
}

.select-container {
  display: none;
  justify-content: flex-start; /* Выравнивание по левому краю */
  gap: 1rem; /* Отступ между селектами */
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;

  select {
    width: 40%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
}

// Media queries for responsiveness
@media (max-width: 768px) {
  .blog-list {
    flex-direction: column;

    .main-content {
      margin-right: 0;
    }
  }

  .sidebar {
    display: none; /* Скрытие сайдбара на мобильной версии */
  }

  .select-container {
    display: flex; /* Отображение селектбоксов на мобильной версии */
  }
}


$main-color: #333;
$secondary-color: #8897b3;
$border-color: #d3d3d3;
$tag-background-color: #f5f5f5;
$title-hover: #1059c0;

.post--list {
  display: flex;
  padding: 0.5rem 0rem;
  flex-direction: column; /* Для мобильной версии */

  .post__image {
    flex: 0 0 240px; // Ширина изображения
    margin-right: 1rem;

    img {
      width: 100%;
      height: auto; // Сохранение пропорций изображения
      max-height: 384px; // Ограничение высоты до 384px
    }
  }

  .post__details {
    flex: 1;
    
    .post__title-link {
      text-decoration: none;

      h3 {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.5em;
        color: $main-color;

        &:hover {
          color: $title-hover;
        }
      }
    }

    .post__meta {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;

      .post__author {
        display: flex;
        align-items: center;
        margin: 0; // Уменьшение отступов сверху и снизу

        .avatar {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          margin-right: 0.5rem;
          border: 2px solid $border-color; // Серый бордюр
        }

        .author-link {
          text-decoration: none;
          color: $main-color;
          font-size: 14px; // Уменьшение шрифта имени автора
          margin-right: 0.5rem; // Отступ справа для каждого автора

          &:not(:last-child)::after {
            content: '';
          }
        }
      }
    }

    .post__content {
      margin-top: 0.5rem;

      .post-content__link {
        text-decoration: none;
      }

      p {
        color: $main-color;
        font-size: 14px;
        line-height: 1.5em;
        font-weight: 400;
      }

      .post__tags-date {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 0.5rem;

        .post__date,
        .post__tags {
          font-size: 14px; // Установление одинакового размера шрифта
          font-weight: 400; // Установление одинаковой жирности шрифта
          line-height: 1.5; // Установление одинаковой высоты строки
          color: $secondary-color; // Установление одинакового цвета шрифта
        }

        .post__date {
          padding-right: 0.5rem;
        }
        .post__tags {
          margin-left: 0rem; // Отступ между датой и тегами

          @media (max-width: 768px) {
            margin-left: 0rem; 
          }


          a {
            margin-right: 0rem; // Отступ между тегами
            color: $secondary-color; // Установление цвета для ссылок тегов
            text-decoration: none; // Убрать подчеркивание
            padding: 2px 6px; // Внутренние отступы для обеспечения одинакового размера
            border: 1px solid transparent; // Прозрачный бордюр для обеспечения одинакового размера
            border-radius: 5px; // Закругленные уголки
            transition: all 0.3s ease;

            &:hover {
              background-color: $tag-background-color;
              border-color: $border-color;
            }
          }
        }
      }
    }
  }
}

// Media query для мобильных устройств
@media (max-width: 768px) {
  .post--list {
    flex-direction: column; /* Для мобильной версии */

    .post-item {
      padding-bottom: 0.5rem;
    }

    .mobile_hide {
      display: none;
    }
    
    .post__image {
      flex: 0 0 auto;
      width: 100%; /* Ширина на весь экран */
      margin: 0; /* Удаление белой рамки */
    }
  }
}


// Media query для десктопных устройств
@media (min-width: 769px) {
  .post--list {
    flex-direction: row; /* Для десктопной версии */

    .post__image {
      flex: 0 0 240px;
      margin-right: 1rem;
    }
  }
}

.rss-feed {
  padding: 0.5rem;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 1rem 0;

  p {
    font-size: 14px;
    color: #333;
  }

  .rss-feed__link {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Отступ между иконкой и текстом */
    text-decoration: none;
    color: #1059c0;
    transition: color 0.3s ease;

    &:hover {
      color: #0a47a0;
    }
  }

  .rss-icon {
    width: 20px; /* Уменьшение размера иконки */
    height: 20px; /* Уменьшение размера иконки */
  }
}


.text .post h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5em;
    margin: 0;
}

.blog-post .body {

  p {
    font-size: 16px;
    line-height: 1.5;
  }

  a {
    color: #0969da;
    text-decoration-color:  #0969da;
  }

  a:hover {
    color: #0a47a0;
    text-decoration-color: #0a47a0;
  }

  code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: #818b981f;
    border-radius: 6px;
  }

  pre {
    line-height: 1.5;
  }

  pre.chroma {
    margin: 1rem 0;
    padding: 1rem 1rem 1rem;
    background-color: #f6f8fa;
  }

  h2 {
    padding-bottom: .3em;
    font-size: 1.5em;
    border-bottom: 1px solid #d1d9e0b3;
    line-height: 1.25;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.25;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  h4 {
    font-size: 1rem;
    line-height: 1.25;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 768px) {
    padding: 1rem 2rem 2rem 2rem;
  }
  @media screen and (max-width: 768px) {
    ul {
      padding-left: 1rem;
    }
  }
}



.post--preview {
  display: block;

  padding: 1rem;

  @media screen and (max-width: 760px) {
    padding: 1rem 0;
  }

  img {
    margin-bottom:0.375rem;
  }

  h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5em;
  }

  h2, h3, p {
  }

  :last-child {
    margin-bottom:0;
  }

  .post__content {
    margin-top: 1rem;

    p {
        color: #42536d;
        font-size: 14px;
        line-height: 1.5em;
        font-weight: 400;
    }

    .bottom {

      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        margin-bottom: 0;
        padding: 0;
        font-size: 12px;
        font-weight: 400;
        color: #8897b3;
      }

      .post-type {
        color: #00bda5;
        font-weight: 600;
      }

    }
  }

  &:hover {
    h3 {
      color: $link;
    }
  }

}

a.post--preview, a.post--preview * {
  text-decoration: none;
  color: $dark;

  .readmore {
    color: $link;
    font-weight: bold;
  }
}

.recommendations {
  margin-top: 2rem;
}

.text .grid h2 {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: .75rem;
    margin-top: 0rem;
    font-weight: 700;
}

.text .post__content  p {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
}

.text .post__content .readmore {
    font-weight: 700;
}

.comments {
  
  padding-top: 2em;
  font-family: $font-sans;

  .notes {
    margin-bottom: 1em;
    font-style: italic;
    font-size: 0.8rem;
  }

  h2 {
    padding-bottom: 1em;
  }

  .comment {
    padding: 2em;
    background: #f5f5f5;
    border-radius: 3%;
    margin-bottom: 2em;

  }

  .info {
    margin-bottom: 2em;
  }

  .info a {
    font-size: 1.2em;
  }

  .info span {
    float: right;
    color: #9c98a8;
    font-style: italic;
  }
}

.blog__featured {
  
  .grid {
    gap: 1.5rem 1rem;
  }

  .grid__item {
    position: relative;
    border-radius: 0.2rem ;
    background-color: #ffffff;
    padding-bottom: 35px;
  }

  img {
    display:block;
    border-radius: 0.2rem 0.2rem 0 0 ;
    margin-bottom: 0rem;
  }

  a.post--preview {
    border-radius: 0.2rem 0.2rem 0 0 ;
  }

  .post--preview {
    padding:0;
  }

  .post__text {
    padding: 1rem;
  }

  .post__content {
    margin-top: 0;

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.01em;
      color: #00162b;
    }
  }

  h3 {
    font-weight: 600;
    font-size: 21px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #00162b;
    padding-bottom: 12px;
  }

  .bottom {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 48px);
    left: 24px;

    p {
      color: #8897b3;
      padding: 0;
      font-size: 12px;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.01em;
    }
  }
}

.featured__wrapper {
  
  margin-top: 2.5rem;

  .featured__left, .featured__right {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
  }

  .title-wrap {
    font-size: 14px;
    font-weight: 600;
    color: #697793;
    padding: 0;
    border-bottom: 2px solid #e8ecf3;
    padding-bottom: 10px;
    margin-bottom: 20px;
    letter-spacing: 0.02em;
    display: block;
  }

  @media (max-width: 768px) {
    .featured__left {
      margin-bottom: 1rem;
    }
  }

}

.featured__one {

  .post--preview {
    display: block;
    padding: 0rem;

  }

  img {
    width: 100%;

    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
  }

  .post--preview h3 {
      font-size: 21px;
      font-weight: 600;
      line-height: 1.4;
  }

  position: relative;
  padding-bottom: 35px;

  .post__content {
    height: calc(100% - 320px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .bottom {
      bottom: 20px;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(100% - 48px);
    }
  }

}

.featured-grid-list-item:hover .featured-grid-list-inner .context h2 {
    color: $link !important;
}

.featured__list {

  .featured-grid-list-item {

    border-bottom: 1px solid #e8ecf3;
    padding-bottom: 15px;
    margin-bottom: 15px;

    &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }

  }

}

.featured-grid-list-inner {

    display: grid;
    gap: 0rem 0rem;
    grid-template-columns: 3fr 6fr;

    .thumbnail {

      height: 130px;
      border-radius: 4px;
      overflow: hidden;

      a {
        width: 100%;
        display: block;
        height: 100%;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .context {

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5px 20px;

      a {
        text-decoration: none;
        color: $dark;
      }

      h2 {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.4;
      }
    }

     .bottom {

      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      p {
        margin-bottom: 0;
        padding: 0;
        font-size: 12px;
        font-weight: 400;
        color: #8897b3;
      }

    }
}

.youtube__block {
  
  iframe {
    width: 715px;
    height: 400px;

    @media (max-width: 768px) {
      width: 320px;
      height: 180px;
    }
  }
}

.branded {

  .grid__item {
    position: relative;
  }

  .bottom {
      position: absolute;
      bottom: 0px;
      width: calc(100% - 48px);
  }
}

.documentation {
  
  margin-top: 2rem;
  margin-bottom: 2rem; 

  .link__wrapper {
    display: block;
  }

  h3 {
    font-size: 1rem;
    text-decoration: underline;
  }
  
  .grid__item {
    padding: 15px;
    box-shadow: 0px 0px 10px 4px rgba(0, 22, 43, 0.09);
    border-radius: 8px;
  }
}
