a.socialblock {
  display: block;
  border: 0;
  line-height: 1.5rem;
  position:relative;
  text-align: center;
}

.hero a.socialblock img {
  float: none;
  display:block;
  margin-left:auto;
  margin-right:auto;
  height: 3rem;
  width: 3rem;
}