
table {
  display: table;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin-top: 2rem;
  padding: 0;
  width: 100%;
  max-width: 100%;
  table-layout: auto;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
}

table th,
table td {
  font-size: 0.75rem;
  padding: .625em;
  text-align: left;
}

table th {
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table:not(.landing-agenda-table) {
    border: 0;
  }

  table:not(.landing-agenda-table) caption {
    font-size: 1.3em;
  }
  
  table:not(.landing-agenda-table) thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table:not(.landing-agenda-table) tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table:not(.landing-agenda-table) td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: left;
  }
  
  table:not(.landing-agenda-table) td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table:not(.landing-agenda-table) td:last-child {
    border-bottom: 0;
  }
}