$font-sans: Arial, sans-serif;
$font-serif: Georgia, "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", serif;
$font-mono: "Lucida Console", Monaco, monospace;
$font-heading: $font-serif;

$padding-left-page: 1.5rem;
$padding-right-page: 1.5rem;

$transition-length: .233s;

$width-max:1400px;
$height-header:3rem;
$height-menu-underline: 0.2rem;

$size-h2: 2rem;
$size-h3: 1.5rem;
$size-h4: 1rem;
$size-h5: 0.8rem;
$size-h6: 0.6rem;
$size-lead: 1.1rem;

$border-radius: 0.2rem;

/* colors */
$palette1: #fe7f2d;
$palette2: #004966;
$palette3: #fefefe;
$light: #ffffff;
$dark: #333333;