$font-sans: "Poppins",Helvetica,Arial,Lucida,sans-serif;
$font-heading: "Poppins",Helvetica,Arial,Lucida,sans-serif;
$font-serif: "Poppins",Helvetica,Arial,Lucida,sans-serif;
$font-mono: "Lucida Console", Monaco, monospace;
$font-heading: $font-serif;

$padding-left-page: 1.5rem;
$padding-right-page: 1.5rem;

$transition-length: .233s;

$width-max:1200px;
$height-header: 3.2rem;
$height-header-img: 1rem;
$height-menu-underline: 0.2rem;

$header-color: #00162b;

$size-body-font: 1rem;

$size-h2: 1.5rem;
$size-h3: 1.25rem;
$size-h4: 1rem;
$size-h5: 0.8rem;
$size-h6: 0.6rem;
$size-lead: 1.1rem;


$border-radius: 0.2rem;

/* colors */
$palette1: #fe7f2d; // orange
$palette2: #42536d;
$palette3: #fefefe;
$palette4: #00BDA5;

$night: #0e1a53;
$aqua: #006A5D;

$hero-text: #ced5e3;

$link: #00BDA5;
$link-hover: #42536d;

$color-branded-h2: #697793;

$meta: #8897b3;
$light: #ffffff;
$dark: #333333;